@import '../../../vars.scss';

.sidebar_menu_item_container {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row;
  justify-content: flex-start;
  align-items: baseline;

  padding: 0.75rem 1rem;

  transition: $short-duration;
  letter-spacing: 0.5px;

  font-size: 1.25rem;
  font-variant: small-caps;

  &:hover {
    background: $background3;
  }

  span {
    margin-right: 0.75rem;
  }

  .fa {
    width: 20px;
  }
}
