@import '../../vars';

.search_box_container {
  display: flex;
  flex-direction: row-reverse;
  flex: 1 1 auto;
  align-items: center;
}

.search_box_container span.fa-search {
  display: flex;

  width: 30px;
  height: 30px;

  color: $lightbg;
  background-color: $background3;
  align-items: center;
  
}
.search_box_container .fa-spinner {
  opacity: 0;
  transition: all 0.3s;
  &.loading {
    opacity: 1;
  }
}

.search_box_container span:before {
  text-align: center;

  flex: 1 1 auto;
}

.search_box_container .form {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  
  margin: 12px 0px 12px 12px;
}

.search_box_container input {
  height: 30px;
  margin: 12px 0px;
  padding: 0px 12px;

  color: $grey;
  border: none;
  outline: none;
  background-color: $background3;

  font-size: 16px;
  flex: 1 1 auto;
  &::selection {
    color: $grey;
  }
}

form,
.form {
  > span {
    position: absolute;
    right: 0;

    display: flex !important;

    width: 30px;
    height: 30px;

    align-items: center;
  }
}

::-webkit-input-placeholder {
  color: rgba(236, 240, 241, 0.5);
}
