.volume_controls_container {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row;
  height: 100%;
  width: 150px;
  align-items: center;
  margin: 12px;
}

.volume_controls_container span {
  margin: 12px;
  font-size: 24px;
}
