.volume_controls_container {
  display: flex;

  width: 150px;
  height: 100%;
  margin: 12px;

  flex: 0 0 auto;
  flex-flow: row;
  align-items: center;
}

.volume_controls_container span {
  margin: 12px;

  font-size: 24px;
}
