@import '../../vars.scss';
.volume_controls_container {
  display: flex;

  height: 100%;
  margin: 0 1rem;

  flex: 1 1 33%;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;

  span {
    margin: 1rem;
    font-size: 24px;
  }

  .volume_speaker_control {
    display: flex;

    cursor: pointer;

    width: 50px;
    height: 52px;

    color: rgba($white, 0.80);

    transition: $very-short-duration ease all;

    &:hover {
      color: $white;
    }
  }
}
