.volume_controls_container {
  display: flex;

  height: 100%;
  margin: 0 1rem;

  flex: 1 1 33%;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
}

.volume_controls_container span {
  margin: 1rem;

  font-size: 24px;
}

.volume_speaker_control{
    display: flex;

    cursor: pointer;

    width: 50px;
    height: 52px
}
