@import '../../../vars';

@keyframes appear {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 0.25;
  }
}

.queue_item_container {
  display: flex;

  margin: 0.5rem;
  margin-top: 0;
  padding: 0.5rem 0.25rem 0.5rem 0.5rem;

  border-radius: 2px;
  background-color: rgba($background2, 0.5);

  flex: 0 0 auto;
  flex-flow: row;

  animation-name: appear;
  animation-duration: $short-duration;


  span {
    display: flex;
    align-items: center;
    width: 100%;

    &:before {
      text-align: center;
      flex: 1 1 auto;
    }
  }

  &:hover {
    .thumbnail_overlay {
      opacity: 1;
    }
  }
}

.queue_item_container_loading {
  .item_info_container, .item_duration_container {
    opacity: 0.3;
  }
}

.thumbnail_container {
  position: relative;
  display: flex;
  width: 48px;
  height: 48px;
  margin-right: 0.5rem;

  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
}

.thumbnail_container img {
  width: 48px;
  height: 48px;

  border-radius: 48px;
}

.thumbnail_overlay {
  position: absolute;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($black, 0.85);
  opacity: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: $medium-duration;
}

.item_info_container {
  display: flex;
  overflow: hidden;

  margin: 6px;

  white-space: nowrap;
  text-overflow: ellipsis;

  flex: 1 1 auto;
  flex-flow: column;
  justify-content: center;
}

.name_container {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.artist_container {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;

  color: rgba($white, 0.5);
}

.item_duration_container {
  display: flex;
  overflow: hidden;
  font-size: 0.85em;

  flex: 0 0 auto;
  flex-flow: column;
  justify-content: center;

  margin: 0 0.5rem;

  .item_duration {
    color: rgba($white, 0.5);
  }
}

.current_song {
  background: rgba($green, 0.3);
}
