@import '../../../../vars'; 

.news_item {
  border: 1px solid $white;
  padding: 1rem;
  border-radius: 0.25rem;

  h1 {
    width: 100%;
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: $green;
    color: $background;
  }
  
  .tags {
    display: flex;
    flex-flow: row;
  }

  .tag {
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: $orange;
  }
}
