.play_pause_button_container {
  display: flex;

  width: 56px;
  height: 56px;

  text-align: center;

  color: #f8f8f2;
  border: 2px solid rgba(248, 248, 242, 0.25);
  border-radius: 50px;

  font-size: 36px;

  flex: 0 0 auto;
  flex-flow: row;
  align-items: center;

  &.loading {
    a {
      padding: 0;
    }
  }
  
  a {
    flex: 1 1 auto;
    padding-left: 0.3rem;

    .fa-pause {
      margin-left: -0.3rem;
    }
  }

  
}
