@import '../../../vars.scss';
.play_pause_button_container {
  display: flex;

  width: 56px;
  height: 56px;

  text-align: center;

  border: 2px solid rgba($white, 0.87);
  border-radius: 50px;

  font-size: 36px;

  flex: 0 0 auto;
  flex-flow: row;
  align-items: center;
  
  transition: $very-short-duration ease-out;

  &.loading {
    a {
      padding: 0;
    }
  }

  &:hover:not(.player_button_disabled) {
    border: 2px solid $white;

    a {
      color: $white;
    }
  }
  
  a {
    flex: 1 1 auto;
    padding-left: 0.3rem;
    color: rgba($white, 0.87);
    transition: $very-short-duration ease-out;

    .fa-pause {
      margin-left: -0.3rem;
    }
  }

  &.player_button_disabled {
    border: 2px solid rgba($white, 0.25);
    a {
      cursor: default;
      color: rgba($white, 0.25);
    }
  }
}