.play_pause_button_container {
  display: flex;

  width: 56px;
  height: 56px;

  text-align: center;

  color: #f8f8f2;
  border: 2px solid rgba(189, 195, 199, 0.24);
  border-radius: 50px;

  font-size: 36px;

  flex: 0 0 auto;
  flex-flow: row;
  align-items: center;
}

.play_pause_button_container span {
  flex: 1 1 auto;
}
