@import '../../../../vars'; 

.news_item {
  border: 1px solid rgba($lightbg, 0.3);
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  h1 {
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 0;
  }

  h4 {
    margin: 1rem 0;
  }
  
  .tags {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
  }

  .tag {
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.5rem 1rem;

    color: $white;
    border-radius: 1.25rem;
    background-color: rgba($background2, 0.8);
    white-space: nowrap;
  }
}
