@use "vars";

@mixin transition {
  transition: 0.25s;
}

@mixin roundCorners {
  border-radius: 0.25rem;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin emptyState {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  height: 100%;

  .fa, .icon {
    font-size: 72px;
  }

  .corner.icon{
    font-size: 30px;
    color:#282a36;
  }

  h2 {
    font-size: 48px;
    font-weight: normal;
  }

  div {
    font-size: 20px;
  }
}

@mixin dropdownOverride {
  color: vars.$white !important;
  background: vars.$background3 !important;
  border: 1px solid rgba(vars.$background2, 0.6);

  &:hover,
  &:active,
  &:focus,
  &.ui.selection.active.dropdown {
    color: vars.$white !important;
    border: 1px solid rgba(vars.$background2, 0.6);
  }

  .dropdown.icon {
    display: flex;
    align-items: center;
    height: 100% !important;
  }

  .menu {
    border-color: rgba(vars.$background2, 0.6) !important;

    &:hover,
    &:active,
    &:focus {
      border-color: rgba(vars.$background2, 0.6) !important;
    }

    .item {
      border-color: rgba(vars.$background2, 0.6) !important;
    }

    .active.selected.item,
    .message {
      color: vars.$white !important;
    }
  }

  .text {
    color: white !important;
  }

  input {
    color: vars.$white;
  }
}
