$bgdarker: #1F212D;
$bgdark: #2C2E3A;
$bgdarklight: #55597742;
$bgdefault: #424557;
$bglight: #555977;
$bglighter: #6A6F95;

$background: $bgdark;
$background2: $bgdefault;
$background3: $bgdarker;
$lightbg: $bglighter;

$grey: #f8f8f2;
$blue: #6272a4;
$cyan: #8be9fd;
$green: #3CDD65;
$orange: #ffb86c;
$pink: #FC83D3;
$purple: #bd93f9;
$red: #ff5555;
$yellow: #f1fa8c;
$white: #fafafa;
$black: #202020;

$very-short-duration: 0.1s;
$short-duration: 0.3s;
$medium-duration: 0.5s;
$long-duration: 1s;

$nuclear-font: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;