@use "sass:color";
@use '../../../vars';

.queue_menu_container {
  display: flex;
  flex-flow: column;
  margin: 0.5rem 0.5rem 0 0.5rem;
  flex: 0 0 auto;

  .queue_menu_buttons {
    display: flex;
    flex-flow: row;
    margin-top: 0.5rem;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      background: vars.$background2;
      width: 2rem;
      height: 2rem;
      margin: 0;

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        background: color.adjust(vars.$background2, $lightness: 10%);
      }

      &:active {
        background: color.adjust(vars.$background2, $lightness: 20%);
      }

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
      }
    }
  }

  hr {
    width: 100%;
  }
}
