html {
  width: 100%;
  height: 100%;
}

body {
  background: url("bg.png") no-repeat fixed center;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: Questrial;
  color: #FAFAFA;
}

.blur_container {
  position: relative;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  backdrop-filter: blur(10px);
}

.notify_container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: url("bg.png") no-repeat center;
  background-size: cover;
  width: 800px;
  height: 600px;
  
  box-shadow: 0px 0px 80px  #000000;
}

.notify_container>img {
  display: block;
  margin: auto;
  margin-top: 36px;
}

.text_container {
  width: 75%;
  margin: auto;
  text-align: center;
}

.headline_container {
  margin-top: 60px;
  font-size: 40px;
}

.release_notice_container {
  margin-top: 48px;
  font-size: 24px;
  color: #FAFAFA66;
}

.release_notice_container>a, .release_notice_container>a:visited {
  text-decoration: none;
  color: #FAFAFA;
}