html {
    width: 100%;
    height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-brand {
  position: relative;
  padding: 10px 10px;
  height: 50px;
  font-family: Timeburner;
  font-size: 24px;
  z-index: 100;
}

.navbar-brand img {
  display: inline-block;
  margin-right: 4px;
}

.navbar-github {
  height: 40px;
  margin-top: 4px;
}

.navbar-github-link {
  display: initial !important;
  padding: 0;
}

svg:hover path{
  fill: #FFF;
}

.jumbotron {
  background: url("bg.jpg") no-repeat fixed center;
  background-size: cover;
}

.intro {
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: center;
  font-family: Questrial;
  color: #FAFAFA;
}

.intro>.container {
  margin-bottom: 0px;
  width: 100%;
}

.sources {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: Questrial;
  color: #FAFAFA;
}

.sources>.container {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 60px;
  padding-bottom: 72px;
  width: 100%;
}

.lastfm {
  margin: 0px;
  padding: 0px;
  text-align: left;
  font-family: Questrial;
  color: #FAFAFA;
}

.lastfm>.container {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 60px;
  padding-bottom: 72px;
  width: 100%;
  display: table;
}

.downloads{
  padding-top: 60px;
  margin-bottom: 0;
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;

}


.article{
  border: 1px #FAFAFA solid;
  border-radius: 8px;

}


.buttons{
  text-align: center;
  font-family: Questrial;
  color: #FAFAFA;
  font-size: 25px;
  margin-left: 24px;
  margin-right: 25px;
}




.questions {
  margin: 0px;
  padding: 0px;
  font-family: Questrial;
  color: #FAFAFA;
}

.questions>.container {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 96px;
  width: 100%;
}

.questions h1 {
  font-size: 48px;
  margin-bottom: 60px;
}

.questions a {
  padding: 16px;
  color: #FAFAFA;
  font-size: 24px;
  border: 1px #FAFAFA solid;
  border-radius: 8px;
}

.subscribe {
  margin: 0px;
  padding: 0px;
  text-align: left;
  font-family: Questrial;
  color: #FAFAFA;
}

.subscribe>.container {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 36px;
  padding-bottom: 36px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.clear {
  display: inline-block;
  position: absolute;
}

.clear>input {
  padding: 4px 10px 4px 10px;
  background-color: #8d53e7;
  border: 1px solid rgba(255, 255, 255, 0.6) !important;
  color: #FAFAFA;
  font-size: 18px;
  border: 0px;
  border-radius: 0px 8px 8px 0px;
}

.mc-field-group {
  display: inline-block;
  width: 100%;
}

.mc-field-group>input {
  padding: 4px 10px 4px 10px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-right: 0px;
  width: 100%;
  font-size: 18px;
  color: #FAFAFA;
  border-radius: 8px 0px 0px 8px;
}

.mc-field-group>label {
  display: none;
}

.footer {
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-size: 12px;
  text-align: center;
  color: #FAFAFA;
  font-variant: small-caps;
}

.footer>.container {
  margin: 0px;
  padding: 8px 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.footer a {
  color: #FAFAFA;
}
