html {
  width: 100%;
  height: 100%;
}

body {
  background: url("bg.jpg") no-repeat fixed center;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: Questrial;
  color: #FAFAFA;
}

.blur_container {
  position: relative;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  backdrop-filter: blur(10px);
}

.notify_container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: url("bg.jpg") no-repeat center;
  background-size: cover;
  width: 800px;
  height: 600px;
  
  box-shadow: 0px 0px 80px  #000000;
}

.notify_container>img {
  display: block;
  margin: auto;
  margin-top: 36px;
}

.text_container {
  width: 75%;
  margin: auto;
  text-align: center;
}

.headline_container {
  margin-top: 60px;
  font-size: 40px;
}

.release_notice_container {
  margin-top: 48px;
  font-size: 24px;
  color: #FAFAFA66;
}

.release_notice_container>a, .release_notice_container>a:visited {
  text-decoration: none;
  color: #FAFAFA;
}

#mc_embed_signup {
  margin-top: 48px;
}

.clear {
  margin-left: 48px;
  display: inline-block;
}

.clear>input {
  padding: 4px 16px 4px 16px;
  background-color: #8d53e7;
  color: #FAFAFA;
  font-size: 18px;
  border: 0px;
  border-radius: 24px;
}

.mc-field-group {
  display: inline-block;
  width: 60%;
}

.mc-field-group>input {
  background-color: #00000000;
  border: 0px;
  border-bottom: 4px solid #8d53e7;
  width: 100%;
  font-size: 18px;
  color: #FAFAFA;
}

.mc-field-group>label {
  display: none;
}

.footer-buttons {
  margin-top: 72px;
}

.footer-button {
  margin: 12px 12px 12px 12px;
}