@use '../../mixin.scss';

.downloads_container {
  display: flex;
  position: relative;
  height: 100%;
  flex-flow: column;
  
  .empty_state {
    @include mixin.emptyState;
    height: auto;
    flex: 1 1 auto;
  }
}
