@import '../../vars';

.playlist_view_container {
  width: 100%;
  height: 100%;
  margin: 1em 0em;

  .playlist {
    display: flex;
    flex-flow: column;
    margin-right: 1em;
  }

  .playlist_view_info {
    display: flex;
    flex-flow: row;
    margin-bottom: 1em;

    img {
      width:  15rem;
      border-radius: 0.5rem;
      box-shadow: 0rem 0rem 1rem 0.5rem rgba($black, 0.4);
    }
  }

  .playlist_header {
    display: flex;
    width: 100%;
    flex-flow: column;
    justify-content: flex-end;
    margin: 0 2rem;
  }

  .playlist_header_label {
    font-variant: all-small-caps;
    letter-spacing: 2px;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .playlist_name {
    display: flex;
    align-items: center;
    margin: 0 1rem 2rem 0;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;

    button {
      margin-left: 1rem;
      border: 1px solid rgba($white, 0.3);

      &:hover,
      &:active,
      &:focus {
        i {
          color: rgba($black, 0.9);
        }
      }
    }

    i {
      color: rgba($white, 0.6);
    }
  }

  .playlist_buttons {
    display: flex;
    flex-flow: row;
    padding-bottom: 1rem;
    
    .play_button {
      text-transform: uppercase;
      margin-right: 1em;
      padding-left: 2em;
      padding-right: 2em;
    }

    .more_button {
      i {
        margin: 0 !important;
      }
    }

    .delete_button {
      background: $red;
      color: $white;
      border-radius: 1.5rem;
      text-transform: uppercase;
      margin-right: 2rem;
    }
  }

  .playlist_tracks {
    margin: 1rem;
  }
  
  .playlist_track {
    display: flex;
    flex-flow: row;
    
    border-bottom: 1px solid rgba($lightbg, 0.4);

    &:first-child {
      border-top: 1px solid rgba($lightbg, 0.4);
    }
  }
}
