@import "../../../vars";

.popular_tracks_container {
  .popular_tracks_header {
    display: flex;
    flex-flow: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    h3 {
      margin: 0;
    }
  }

  .track_row {
    img {
      flex: 0 0 auto;

      width: 3rem;
      height: 3rem;
    }

    .popular_track_name {
      flex: 1 1 auto;
      margin: 0.25rem 0.5rem;
      text-align: left;
    }

    .playcount {
      flex: 1 1 auto;
      margin: 0.25rem 0.5rem;
      text-align: right;
      text-transform: uppercase;
    }
  }

  .expand_button {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin-top: 0.5rem;
    transition: $short-duration;
    cursor: pointer;

    &:hover {
      background: lighten($background, 5%);
    }
  }
}
