@import '../../vars';

.settings_container {
  display: flex;

  width: 75%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  flex-flow: column;
  font-size: 16px;

  .settings_section {
    margin: 0 0 1rem 0;
  }

  .settings_item {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    justify-content: left;
    margin: 2rem 0;

    button {

    }

    label {
      flex: 1 1 auto;
    }

    .checkbox {
      align-self: flex-end;
      flex: 0 0 auto;
    }
  }

  .lastfm_icon {
    color: $red;
  }

  .header_container {
    margin: 0 0;

    font-size: 20px;
    font-weight: bold;
  }

  hr {
    width: 100%;
  }
}
