@import '../../vars';

.settings_container {
  display: flex;

  width: 75%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  flex-flow: column;
  font-size: 16px;

  .settings_section {
    margin: 0 0 1rem 0;
  }

  .segment {
    background: rgba($background2, 0.35);
    border: 1px solid $background2;
  }

  .settings_item {
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: baseline;
    justify-content: left;
    margin: 2rem 0;

    &:first-child {
      margin-top: 0;
    }
    
    &:last-child {
      margin-bottom: 0;
    }
    
    &.string,
    &.number {
      flex-flow: column;

      label {
        margin-bottom: 1em;
      }
    }

    p {
      font-size: 14px;
      font-weight: lighter;
    }

    .checkbox {
      align-self: flex-end;
      flex: 0 0 auto;
    }

    .ui.fluid.input {
      width: 100%;

      input {
        color: $grey;
        background-color: $background3;
      }
    }
  }

  .lastfm_icon {
    color: $red;
  }

  .header_container {
    margin: 0 0;

    font-size: 20px;
    font-weight: bold;
  }

  hr {
    width: 100%;
  }

  .slider_container{
    display: flex;
    flex-flow: row;
    width: 100%;

    div {
      flex: 1 1 auto;
    }

    #rrp-baseDiv {
      margin: 0 2rem;
    }
  }
}
