@import "../../mixin";
@import "../../vars";

.favorite_tracks_view {
  display: flex;
  flex-flow: column;
  min-height: 100%;

  .empty_state {
    @include emptyState;
  }

  .button_container {
    padding-top: 1rem;
    margin-left: 1rem;
    a {
      padding: 0.375rem 2.5rem;
    }
  }

  .play_button {
    background: $pink;
    color: $white;
    border-radius: 1.5rem;
    text-transform: uppercase;
    display: inline-block;
    margin: auto;
  }

  .favorite_tracks_table {
    background: transparent !important;

    .thead {
      th {
        position: relative;
        color: rgba($white, 0.5) !important;
        font-size: 20px !important;
        background: transparent !important;
        border-bottom: 0.5px solid rgba($white, 0.2) !important;
      }

      i {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
      }

      th:nth-child(2) { width: 42px; }
    }

    .tbody {
      tr {
        color: $white;
      }
    }
  }
}
