.line_end_symbol {
  width: 10%;
  border-bottom: 2px solid #ecf0f1;
}

.clear_button {
  background-color: #00000000 !important;
  color: #ecf0f1 !important;
  border: 0px !important;
  float: right !important;
}

.albumfinder_table {
  position: relative;
  font-size: 12px;
  margin-left: 12px;
  width: 100%;
  text-align: left;
}
