.album_view_container {
  margin-left: 24px;
  margin-top: 24px;
  text-align: left;
  font-family: Questrial;
}

.album_view_cover_art_container {
  display: inline-block;
}

.album_view_cover_art {
  width: 170px;
  height: 170px;
}

.album_view_info_container {
  position: relative;
  display: inline-block;
  height: 170px;
  margin-left: 24px;
}

.album_view_album_title {
  font-size: 36px;
}

.album_view_album_artist {
  margin-bottom: 6px;
  color: #95a5a6;
  font-size: 18px;
}

.album_view_misc_info_container {

}

.album_view_misc_info_line {
  height: 24px;
}

.album_view_misc_info {
  display: inline;
  color: #95a5a6;
  font-size: 14px;
}

.album_view_misc_info_value {
  display: inline;
  color: #ecf0f1;
  font-size: 14px;
  margin-left: 12px;
}

.album_view_track_list {
  width: 100%;
  margin: 36px 24px 36px 0px;
  font-size: 16px;
}

.album_view_track_list>thead {
  background-color: #282832;
}

.album_view_track_list>tbody>tr {
  border-bottom: 1px solid #2a2b30;
}

.album_view_track_list>tbody>tr:hover {
  background-color: #23232c;
}

.album_view_track_list>thead>tr>th {
  padding: 12px 0px 12px 12px;
}

.album_view_track_list>tbody>tr>td {
  padding: 12px 0px 12px 12px;
}

.album_view_track_number {
  position: relative;
}

.album_view_track_play_btn_container {
  display: none !important;
  position: relative;
  max-width: 30px !important;
}

.album_view_track_list>tbody>tr:hover .album_view_track_number {
  display: none;
}

.album_view_track_list>tbody>tr:hover .album_view_track_play_btn_container {
  display: inline !important;
}
