.artist_view_container {
  margin: 24px 24px 24px 24px;
  font-family: Questrial;
}

.artist_view_main_photo {
  width: 100px;
  height: 100px;
  display: inline-block;
  border-radius: 100px;
  border: 3px solid #ecf0f1;
}

.artist_view_info_cell {
  display: block;
  text-align: left;
  margin: 0px 0px 0px 12px;
}

.artist_view_artist_name {
  display: inline-block;
  margin: 12px 0px 0px 0px;
  font-size: 36px;
  text-align: left;
}

.artist_view_on_tour {
  display: inline;
  margin: 0px 0px 0px 12px;
  padding: 3px 6px 3px 6px;
  background-color: #ecf0f199;
  font-size: 16px;
  font-variant: small-caps;
  border-radius: 16px;
  vertical-align: middle;
}

.artist_view_tags {
  font-size: 14px;
  text-align: left;
}

.artist_view_tag {
  display: inline;
  margin: 0px 3px 0px 3px;
  padding: 3px 6px 3px 6px;
  background-color: #8e44ad;
  border-radius: 12px;
}

.artist_view_bio {
  margin: 12px 0px 0px 0px;
  padding: 12px 12px 12px 12px;
  background-color: #282832;
  font-size: 14px;
  border-radius: 12px;
}

.artist_view_top_tracks_cell {
  padding-right: 24px;
  width: 100%;
  vertical-align: top;
}

.artist_view_top_tracks {
  font-size: 14px;
}

.artist_view_top_tracks_list {
  padding: 0px;
  margin: 0px;
}

.artist_view_top_tracks_label {
  margin: 0px 0px 6px 3px;
  font-size: 18px;
  font-variant: small-caps;
  text-align: left;
}

.artist_view_top_track {
  padding: 0px 12px 0px 12px;
  margin: 0px;
  background-color: #00000000;
  border-bottom: 1px solid #2a2b30;
  line-height: 2.4;
}

.artist_view_top_track_cover {
  height: 32px;
  width: 32px;
}

.artist_view_add_button {
  padding: 0px 0px 0px 12px;
}

.artist_view_play_button {
  padding: 0px 0px 0px 12px;
}

.artist_view_top_track_name {
  width: 100%;
  margin: 0px 24px 0px 24px;
  padding-left: 12px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artist_view_similar_cell {
  padding: 0px;
  min-width: 450px;
  float: right;
}

.artist_view_similar_label {
  margin: 0px 0px 6px 3px;
  font-size: 18px;
  font-variant: small-caps;
  text-align: left;
}

.artist_view_similar_artist {
  padding: 5px 5px 5px 5px;
  margin: 0px 0px 3px 3px;
  font-size: 14px;
  background-color: #282832;
  text-align: left;
}

.artist_view_similar_artist:hover {
  background-color: #31313d;
}

.artist_view_similar_thumb {
  width: 40px;
  height: 40px;
  border-radius: 24px;
}

.artist_view_similar_name {
  display: inline;
  margin: 0px 0px 0px 9px;
}

.artist_view_album_separator_container {
  margin-top: 12px;
  font-size: 18px;
  font-variant: small-caps;
  text-align: left;
}

.artist_view_album_separator_container>hr {
  margin-top: 6px;
  border-color: #2a2b30;
}

.artist_view_hr {
  border-color: #2a2b30;
}

.artist_view_header {
  overflow: hidden;
  height: 260px;
}

.artist_view_header_img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100%;
}

.artist_view_header_overlay {
  padding: 160px 0px 12px 12px;
  backdrop-filter: brightness(50%);
  position: relative;
  top: -272px;
}
