.popover {
  font-family: Questrial;
}

.popover_table {
  margin: 12px 12px 12px 12px;
}

.popover_cover_art {
  margin: 0px 12px 0px 0px;
}

.popover_album_info {
  display: inline-block;
  margin: 0px 0px 0px 0px;
}

.popover_album_title {

}

.popover_artist {
  color: #95a5a6;
}

.popover_separator {
  margin: 12px 0px 12px 0px;
  border-color: #95a5a6;
}

.popover_button {
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 6px 6px 6px 6px;
}

.popover_button:hover {
}

.popover_button_row {
}

.popover_button_row>td{
  padding: 3px 0px 3px 0px;
}

.popover_button_row:hover {
  background-color: #8e44ad;
}
