.container {
  background-color: #1e1e26;
  position: absolute;
  left: 300px;
  right: 0px;
  height: 100%;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.home_container {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
}
