.player_container {
  height: 100%;
  width: 100%;
  text-align: center;
}

a.player_btn {
  position: relative;
  width: 48px;
  height: 48px;
  font-size: 36px;
  margin: 16px 16px;
  color: #ecf0f1;
}

a.player_btn:hover,
a.player_btn:active,
a.player_btn:focus {
  color: #ecf0f1;
}

.player_backward {
  position: absolute;
  left: 0px;
  top: 0px;
  padding-top: 5px;
  height: 100%;
  width: 100%;
}

.player_forward {
  position: absolute;
  right: 0px;
  top: 0px;
  padding-top: 5px;
  height: 100%;
  width: 100%;
}

.player_play {
  position: absolute;
  left: 0px;
  top: 0px;
  padding-top: 5px;
  height: 100%;
  width: 100%;
}
