.player_container {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

a.player_btn {
  position: relative;
  width: 48px;
  height: 48px;
  font-size: 36px;
  margin: 16px 16px;
  color: #ecf0f1;
}

a.player_btn:hover,
a.player_btn:active,
a.player_btn:focus {
  color: #ecf0f1;
}

.player_backward {
  position: absolute;
  left: 0px;
  top: 0px;
  padding-top: 5px;
  height: 100%;
  width: 100%;
}

.player_forward {
  position: absolute;
  right: 0px;
  top: 0px;
  padding-top: 5px;
  height: 100%;
  width: 100%;
}

.player_play {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 48px !important;
  padding-top: 7px;
}

a.player_play_btn {
  width: 80px;
  height: 80px;
  border: 3px solid #FAFAFA66;
  border-radius: 128px;
}

.player_progress {
  margin: 10px 20px;
  height: 4px;
  bottom: 100px;
  border-radius: 0px;
  background-color: #ecf0f144;
}

.player_progress_fill {
  background-color: #ecf0f1;
}
