.playlists_container {
  margin: 24px 24px;
  font-size: 14px;
  text-align: left;
  color: #95a5a6;
}

.playlists_play_button {
  color: #95a5a6;
}

.playlists_playlist_contents {
  color: #ecf0f1;
}
