.queuebar {
  position: absolute;
  z-index: 0;
  height: 50%;
  margin-top: 25px;
  width: 100%;
  color: #FFF;
  font-size: 12px;
  backdrop-filter: blur(3px);
}

.panel_button,
.panel_button:hover,
.panel_button:focus,
.panel_button:active {
  font-size: 10px;
  display: inline-block;
  vertical-align: top;
  padding: 0px;
  color: white;
  text-decoration: none;
  cursor: default;
  outline:none;
}

.current_song {
  background-color: #16171A66;
}
