.queuebar {
  position: relative;
  top: 0;
  bottom: 0;
  margin-top: 25px;
  width: 100%;
  color: #ecf0f1;
  font-size: 14px;
  overflow-y: scroll;
}

.panel_button,
.panel_button:hover,
.panel_button:focus,
.panel_button:active {
  font-size: 10px;
  display: inline-block;
  vertical-align: top;
  padding: 0px;
  color: ecf0f1;
  text-decoration: none;
  cursor: default;
  outline:none;
}

.current_song {
  background-color: #ecf0f144;
}
