.queuebar_container {
  position: absolute;
  margin-top: 10px;
  height: 55%;
  width: 100%;
  color: #ecf0f1;
  font-size: 14px;
}

.queuebar_table_container {
  position: absolute;
  height: 100%;
  width: 100%;
  margin-top: 10px;
  overflow-y: scroll;
}

.panel_button,
.panel_button:hover,
.panel_button:focus,
.panel_button:active {
  font-size: 10px;
  display: inline-block;
  vertical-align: top;
  padding: 0px;
  color: #ecf0f1;
  text-decoration: none;
  cursor: default;
  outline:none;
}

.control_button {
  position: relative;
  margin-left: 8px;
  padding: 4px;
  background-color: #ecf0f144;
  border-radius: 4px;
}

.current_song {
  background-color: #ecf0f144;
}

.song_thumbnail_cell {
  height: 48px !important;
  width: 48px !important;
  border-radius: 32px;
}

.sortable_helper {
  font-family: Questrial;
  font-size: 16px;
  z-index: 2;
}
