.settings_container {
  margin: 24px 24px;
  font-size: 14px;
  text-align: left;
  color: #ecf0f1;
}

.settings_form {
  color: #15141b;
  display: table;
  margin-bottom: 12px;
}

.settings_lastfm_label {
  margin-bottom: 12px;
}
