.sidebar {
  z-index: 0;
  font-family: Maven Pro;
  font-size: 20px;
  font-weight: bold;
  color: #ecf0f1;
  width: 300px;
  height: 100%;
  overflow: hidden;
  box-shadow: inset -2px 0px 25px #000000;
  backdrop-filter: blur(20px);
}

.sidebar_options {
  position: absolute;
  left: 0px;
  right: 0px;
  font-size: 16px;
}

.sidebar_options_cell {
  padding: 16px 16px;
}

.sidebar_brand_cell {
  padding-top: 16px;
  text-align: center;
}

.sidebar_navbar {
  background-color: #ecf0f144;
}

.sidebar_navbar_btn,
.sidebar_navbar_btn:hover,
.sidebar_navbar_btn:active,
.sidebar_navbar_btn:focus {
  font-size: 16px;
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 0px;
  color: #ecf0f1;
  background: #00000000;
  outline: none;
}
