.sidebar {
  z-index: 0;
  font-family: Questrial;
  font-size: 20px;
  font-weight: bold;
  color: #ecf0f1;
  width: 300px;
  height: 100%;
  overflow: hidden;
  backdrop-filter: blur(20px);
  box-shadow: none !important;
  display: table !important;
}

.sidebar_options_container {
  overflow-y: scroll;
  height: 85%
}

.sidebar_options {
  width: 100%;
  font-size: 16px;
}

.sidebar_options_cell {
  padding: 16px 16px;
}

.sidebar_brand_cell {
  padding-top: 16px;
  text-align: center;
}

.sidebar_navbar {
  background-color: #ecf0f144;
}

.sidebar_navbar_btn,
.sidebar_navbar_btn:hover,
.sidebar_navbar_btn:active,
.sidebar_navbar_btn:focus {
  font-size: 16px;
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 0px;
  color: #ecf0f1;
  background: #00000000;
  outline: none;
}
