.songlist_container {
  position: relative;
  height: 100%;
  width: 100%;
  padding-left: 12px;
  overflow-y: scroll;
}

.songlist_header {
  position: relative;
  width: 100%;
  color: #ecf0f1;
  font-size: 14px;
  font-variant: small-caps;
}

.songlist_body {
  width: 100%;
  color: #95a5a6;
  font-size: 14px;
  text-align: left;
  top: 48px;
  bottom: 0px;
}

.songlist_table>tbody>tr>td {
  border: 0px;
}

.songlist_table {
  position: relative;
  height: 100%;
  margin: 0px;
}

.songlist_img_container {
  width: auto;
  height: 35%;
  position: relative;
  text-align:center;
}

.songlist_thumb_btn {
  position:absolute;
  top: 5px;
  bottom: 5px;
  background-color: #00000000;
  color: #00000000;
  border: 0px;
  border-radius: 0px;
  padding: 0px;
  font-size: 24px;
}

.songlist_thumb_btn:hover,
.songlist_thumb_btn:focus {
  background-color: #16171A00;
  color: #ecf0f1;
  text-shadow: 0px 0px 4px #16171A;
  outline: 0px;
}

.songlist_btn_container {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
}

.songlist_btn_container:hover {
  backdrop-filter: blur(3px);
}

.songlist_thumb_btn_left {
  left: 5px;
  width: 46%;
}

.songlist_thumb_btn_right {
  left: 50%;
  width: 46%
}

.songlist_thumb {
  border: 1px solid #ecf0f1;
  border-radius: 4px;
  padding: 4px;
  width: 96px;
  height: auto;
}

.songlist_details_btn_cell {
  position: relative;
  height: 100%;
  padding: 0px !important;
  text-align: center;
}

.songlist_details_btn,
.songlist_details_btn:hover,
.songlist_details_btn:active,
.songlist_details_btn:focus {
  position: relative;
  color: #ecf0f1;
  height: 100%;
  background-color: #00000000;
  border: 0px;
  outline: none;
  cursor: default;
}

.options_title {
  min-width: 240px;
  padding: 8px 8px;
  border-radius: 4px 4px 0px 0px;
  background-color: #15141b;
}

.options_contents {
  padding: 8px 8px;
}

.options_table {
  margin: 0px !important;
}

.options_table>tr:hover {
  background-color: #2c3e50;
  border-radius: 4px;
}

.options_button {
  background-color: #00000000;
  border: 0px;
  width: 100%;
  text-align: left;
}
