.nuclear.toast_container {
  height: auto;
  top: 0;
  bottom: 90px; //footer height
  z-index: 2000;
  pointer-events: none;

  .toast {
    min-width: 20rem;
    height: auto;
    pointer-events: all;
  }
}
