.equalizer_list {
  margin: auto !important;
  width: 50%;
  height: 200px;
  overflow: auto;
}

.equalizer_item {
  padding: 5px !important;
}

.equalizer_click_item {
  cursor: pointer;
  :hover {
    border-right: solid 2px white;
  }
}
