@import '../../mixin.scss';
@import '../../vars.scss';

.preset_list_container {
  display: flex;
  flex-flow: column;
  height: 100%;
  flex: 1 1 auto;

  h3 {
    margin-bottom: 0;
  }
  
  .equalizer_list {
    @include roundCorners;
    height: 100%;
    overflow: auto;
    background: $background3;
  }

  .equalizer_item {
    padding: 5px !important;
  }

  .equalizer_click_item {
    cursor: pointer;
    :hover {
      border-right: solid 2px white;
    }
  }
}

