.album_info_container {
  height: 80px;
  background-color: #44475a;
  color: #f8f8f2;
  display: flex;
  flex-flow: column;
}

.title_container {
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.artist_container {
  margin: 10px;
  color: rgba(248, 248, 242, 0.5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
