@import '@nuclearplayer/tailwind-config';
@source "../components";
@source "../layouts";
@source "../pages";

.bg-grid-pattern {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, var(--color-foreground) 1px, transparent 1px),
    linear-gradient(to bottom, var(--color-foreground) 1px, transparent 1px);
}

.bg-radial-fade {
  background: radial-gradient(
    circle at center,
    white 0%,
    white 20%,
    white 40%,
    transparent 70%
  );
}

.bg-paper-texture {
  background-image: url('/textures/paper.png');
  background-size: cover;
  background-position: center;
}
