@utility text-stroke-* {
  -webkit-text-stroke-width: --value(integer)px;
  -webkit-text-stroke-width: --value([length]);
  paint-order: stroke fill;
}

@utility stroke-text-* {
  -webkit-text-stroke-color: --value(--color-*, [color]);
}
