<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title |
    escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description
    | strip_html | normalize_whitespace | truncate: 160 | escape }}">


  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="Nuclear Music Player - Free Music Streaming">
  <meta property="og:description"
    content="Stream music freely from YouTube, SoundCloud, and Bandcamp. No ads, no tracking, just music.">
  <meta property="og:image" content="https://nuclear.js.org/assets/images/mockup1.png">
  <meta property="og:url" content="https://nuclear.js.org">
  <meta property="og:type" content="website">

  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Nuclear Music Player">
  <meta name="twitter:description" content="Free and open source music streaming player">
  <meta name="twitter:image" content="https://nuclear.js.org/assets/images/mockup1.png">

  <link rel="stylesheet" href="{{"/assets/main.css" | relative_url }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;1,400&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet"> 
  <link rel="icon" type="image/png" sizes="32x32"
    href="/assets/favicon/favicon32x32.png">
  <link rel="icon" type="image/png" sizes="16x16"
    href="/assets/favicon/favicon16x16.png">
  <script async defer data-website-id="bf3358dd-b55b-4740-91c4-ccb76c786c76"
    src="https://umami.gumblert.tech/umami.js"></script>
</head>
