<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon16x16.png">
</head>
