<section class="intro" itemscope itemtype="https://schema.org/SoftwareApplication">
  <div class="fade-out"></div>
  <div class="container">
    {% include header.html %}
    <div class="intro-content">

      <div class="intro-left">
        <h1 itemprop="name">
          <span>Free music, </span>
          <span>on <em>your</em> terms</span>
        </h1>
        <p itemprop="description">
          Say goodbye to proprietary music players filled with ads, tracking,
          and profiling. <br />
          <em>Nuclear</em> empowers you to listen to what you want, where you
          want, and how you want, for free.
        </p>

        <div class="cta">
          <img src="/assets/images/arrow.png" alt="Arrow pointing to download button" class="arrow" />
          <div class="links" itemprop="downloadUrl">
            <a class="get-it-now" href="/downloads">
              <span>
                Get it now
              </span>
            </a>
            <a href="https://github.com/nukeop/nuclear">
              <span>
                Learn more
              </span>
            </a>
          </div>
        </div>

        <div class="social-proof" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
          {% include svg/star.svg %}
          Loved by <span itemprop="ratingCount">11,000</span>+ people on Github
          <meta itemprop="ratingValue" content="4.8" />
          <meta itemprop="bestRating" content="5" />
        </div>

        <meta itemprop="applicationCategory" content="Music Player">
        <meta itemprop="operatingSystem" content="Windows, macOS, Linux">
        <meta itemprop="price" content="0">
        <meta itemprop="priceCurrency" content="USD">
        <meta itemprop="softwareVersion" content="7.3.0">
        <meta itemprop="license" content="AGPL-3.0">

        <div class="featured-on">
          <span>Featured on</span>
          <span class="primary">
            <a href="http://reddit.com/r/linux/comments/ag82rn/nuclear_a_free_alternative_to_spotify_no_drm_100/"
              target="_blank" rel="noreferrer">
              {% include svg/reddit.svg %}
              <span>
                Reddit
              </span>
            </a>
            <a href="https://news.ycombinator.com/item?id=18921296" target="_blank" rel="noreferrer">
              {% include svg/hn.svg %}
              <span>
                Hacker News
              </span>
            </a>
            <a href="https://www.youtube.com/watch?v=79UImvGueV0" target="_blank" rel="noreferrer">
              {% include svg/distrotube.svg %}
              <span>
                Distrotube
              </span>
            </a>
          </span>
          <span class="secondary">
            <a href="https://www.omgubuntu.co.uk/2017/02/nuclear-music-player-desktop-youtube">OMG!
              Ubuntu</a>
            {% include svg/dot.svg %}
            <a href="https://www.fossmint.com/nuclear-music-streaming-player-for-linux/">FOSSMint</a>
            {% include svg/dot.svg %}
            <a href="https://korben.info/nuclear-player-musical-multi-source.html">korben.info</a>
            {% include svg/dot.svg %}
            <a href="https://www.softpedia.com/get/Multimedia/Audio/Audio-Players/nuclear.shtml">Softpedia</a>
            {% include svg/dot.svg %}
            <a href="https://itsfoss.com/nuclear-music-player-linux/">It's FOSS</a>
          </span>
        </div>
      </div>


      <div class="mockup">
        <img src="/assets/images/mockup1.png"
          alt="Nuclear music player interface showing the main screen with album artwork and playback controls"
          itemprop="screenshot" />
        <img src="/assets/images/mascot_running_painted_256.png" alt="Nuclear mascot - a cute cartoon character running"
          class="intro-mascot" />
      </div>
    </div>
  </div>
</section>