<section>
  <div class="container">
    <h1>Featured on:</h1>
    <h2>
      <a href="https://www.omgubuntu.co.uk/2017/02/nuclear-music-player-desktop-youtube">OMG! Ubuntu</a>
      -
      <a href="https://www.fossmint.com/nuclear-music-streaming-player-for-linux/">FOSSMint</a>
      -
      <a href="https://korben.info/nuclear-player-musical-multi-source.html">korben.info</a>
      -
      <a href="https://www.softpedia.com/get/Multimedia/Audio/Audio-Players/nuclear.shtml">Softpedia</a>
      -
      <a href="https://itsfoss.com/nuclear-music-player-linux/">It's FOSS</a>
    </h2>
  </div>
</section>
