<section class='light'>
  <div class="container">
    <h1>Testimonials</h1>
  </div>
  <div class="testimonials">
    <div class="testimonial">
      <q>I hate this music player, but if you want to try it, here's the download link</q>
      <div class="author">
        PizzaLovingNerd, Youtuber
      </div>
    </div>

    <div class="testimonial">
      <q>Yea this is 100% going to be shit-canned in no time. Either with cease and decists or threats of lawsuits.</q>
      <div class="author">
        itismyjob, redditor
      </div>
    </div>

    <div class="testimonial">
      <q>As a musician, fuck everything about this</q>
      <div class="author">
        Rockytriton, redditor
      </div>
    </div>

    <div class="testimonial">
      <q>How incredibly arrogant. (...) High-and-mighty types like this are exactly why working in IT or contributing to FLOSS is so draining at times.</q>
      <div class="author">
        japanoise, HN user
      </div>
    </div>
  </div>
</section>
