<section>
  <div class="container">
    <h1>Featured on:</h1>
    <div class="featured-on">
      <h2>
        <a class="forum" href="http://reddit.com/r/linux/comments/ag82rn/nuclear_a_free_alternative_to_spotify_no_drm_100/">
          <span style="background-image: url({{ "/assets/images/reddit.svg" | relative_url }});"></span>
          Reddit
        </a>
        <a class="forum" href="https://news.ycombinator.com/item?id=18921296">
          <span style="background-image: url({{ "/assets/images/ycombinator.svg" | relative_url }});"></span>
          Hacker News
        </a>
      </h2>
      <h2>
        <a href="https://www.omgubuntu.co.uk/2017/02/nuclear-music-player-desktop-youtube">OMG! Ubuntu</a>
        -
        <a href="https://www.fossmint.com/nuclear-music-streaming-player-for-linux/">FOSSMint</a>
        -
        <a href="https://korben.info/nuclear-player-musical-multi-source.html">korben.info</a>
        -
        <a href="https://www.softpedia.com/get/Multimedia/Audio/Audio-Players/nuclear.shtml">Softpedia</a>
        -
        <a href="https://itsfoss.com/nuclear-music-player-linux/">It's FOSS</a>
      </h2>
    </div>
  </div>
</section>
