<section>
  <div class="container">
    {% include header.html %}
    <h2>Modern music player focused on streaming from free sources.</h2>
    <h3 class="join-beta">Join beta now</h3>
    <p id="lastest-release" class="lastest-release"></p>
    <form action="https://tech.us15.list-manage.com/subscribe/post?u=9d6b789c87d2e7d4ba8fc55dc&amp;id=ebca2aa438" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input class="input-email" type="email" placeholder="Your e-mail" value="" name="EMAIL" id="mce-EMAIL">
      <input class="submit-button" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
      <input class="input-hidden" type="text" name="b_9d6b789c87d2e7d4ba8fc55dc_ebca2aa438" tabindex="-1" value="">
    </form>
    <div class="links">
      <a href="https://github.com/nukeop/nuclear/releases">Get it now</a>
      <a href="https://github.com/nukeop/nuclear">Learn more</a>
    </div>
    <img class="screenshot" src="{{ "/assets/images/screenshot.png" | relative_url }}">
  </div>
  <div class="gradient-overlay"></div>
</section>
