<section class="background1 ask-us">
  <div class="fade-in-small"></div>
  <div class="fade-out-small"></div>
  <div class="container">
    <h2>
      Got a question for Nuclear?
    </h2>
    <div class="soc-buttons">
      <a class="soc-button" href="https://fosstodon.org/@nuclearplayer" rel="me">
        {% include svg/mastodon.svg %} Ask us on Mastodon
      </a>
      <a class="soc-button" href="https://twitter.com/nuclear_player">
        {% include svg/twitter.svg %} Ask us on Twitter
      </a>
    </div>
  </div>
</section>