<section class='light'>
  <div class="container">
    <h1>Testimonials</h1>
  </div>
  <div class="testimonials">
    <div class="testimonial">
      <q>Incredible</q>
      <div class="rating">★★★★★</div>
      <div class="author">
        Bobby Choice, Lord Gumblert Industries CEO
      </div>
    </div>

    <div class="testimonial">
      <q>Nuclear is what iTunes could have been</q>
      <div class="author">
        Steve Jobs, former Apple CEO
      </div>
    </div>

    <div class="testimonial">
      <q>It's gold, Jerry, gold!</q>
      <div class="author">
        Kenny Bania, stand up comedian
      </div>
    </div>
  </div>
</section>
