@import '../../vars';
.track_info_container {
  display: flex;
  margin: 0 0 0 14px;
  color: #f8f8f2;
  flex-flow: column;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
}

.track_name {
  margin-bottom: 0.15em;
  font-size: 22px;
  overflow: visible;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.artist_name {
  color: $lightbg;
  &:hover {
    color: $white;
  }
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
