@use '../../vars.scss';
@use '../../mixin.scss';

.play_options_controls {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  .icon {
    transition: 85ms ease-out;
    color: rgba(vars.$white, 0.25);
    cursor: pointer;

    span {
      font-size: 18px;
      margin: 0.2em;
    }

    &.active {
      color: vars.$white;
    }

    &:hover {
      color: vars.$white;
    }
  }
}
