@import '../../vars';

.queue_popup {
  display: flex !important;
  flex-flow: row;
  background-color: $background !important;
  color: $white !important;
  border-color: $background2 !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.18),
    0px 0px 20px 0px rgba(0, 0, 0, 0.09) !important;
  height: auto !important;

  &:before {
    background-color: $background !important;
    box-shadow: 1px -1px 0 0 $background2 !important;
  }

  transition: $very-short-duration;

  .stream_info {
    position: relative;
    display: block;
  }

  .stream_text_info {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 0.5rem;
    background: rgba($black, 0.85);
    border-radius: 0.25rem;
  }

  .menu.transition.visible {
    height: max-content;
    background-color: $background2;
    padding: 0;
  }

  .text {
    color: $white;
  }

  label {
    color: rgba($white, 0.25);
    font-size: 12px;
  }

  .stream_source {
    display: flex;
    flex-flow: column;
  }

  .stream_title {
    display: flex;
    flex-flow: column;
  }

  .stream_id {
    display: flex;
    flex-flow: column;
  }

  .stream_thumbnail {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 0.25rem;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: auto;
  }

  .stream_buttons {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0.5rem;
    pointer-events: none;

    a {
      background: rgba($black, 0.5);
      padding: 0.5rem 0.75rem;
      pointer-events: all;
    }
  }
}
