@import '../../vars';

.queue_popup {
  display: flex !important;
  flex-flow: row;
  background-color: $background !important;
  color: $white !important;
  border-color: $background2 !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.18), 0px 0px 20px 0px rgba(0, 0, 0, 0.09) !important;
  height: auto !important;

  &:before {
    background-color: $background !important;
    box-shadow: 1px -1px 0 0 $background2 !important;
  }

  transition: 0.2s;

  .stream_info {
    position: relative;
    display: block;
  }

  .stream_text_info {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-flow: column;
    padding: 0.5rem;
    background: rgba($black, 0.85);
    border-radius: 0.25rem;
  }

  .menu.transition.visible {
    height: max-content;
    background-color: $background2;
    padding: 0;
  }

  .text {
    color: $white;
  }

  .stream_source {

  }

  .stream_title {
    
  }

  .stream_id {

  }

  .stream_thumbnail {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 0.25rem;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: auto;
  }
}
