.listening_history_view {
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;

    .listening_history_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;
    }

    .listening_history_header_actions {
        display: flex;
        align-items: center;

        button.nuclear.ui.button:not(:last-child) {
            margin-right: 1em;
        }
    }

    .listening_history_pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 1rem;
    }
}

.listening_history_section:not(:first-child) {
    margin-top: 2em;
}
