<section class="downloads">
    <div class="container">
        <h1>Downloads</h1>
        <div class="box">
            <div class="left">

                <h3>Linux</h3>
                <a target="_blank" rel="noreferrer" class="main-download"
                    href="https://github.com/nukeop/nuclear/releases/download/v0.6.37/nuclear-v0.6.37-x86_64.AppImage">
                    <img src="https://img.shields.io/badge/Download-AppImage-blue?style=for-the-badge&logo=linux&logoColor=white"
                        alt="Download AppImage">
                </a>
            </div>

            <div class="right">

                <div class="accordion">
                    <input type="checkbox" name="accordion" id="accordion-1" class="accordion-checkbox" />
                    <label for="accordion-1" class="accordion-label">
                        <h4>
                            {% include svg/chevron-down.svg %} Other downloads
                        </h4>
                    </label>
                    <div class="accordion-content">
                        <a target="_blank" rel="noreferrer"
                            href="https://github.com/nukeop/nuclear/releases/download/v0.6.37/nuclear-v0.6.37-amd64.deb">
                            <img src="https://img.shields.io/badge/Download-Debian%20package-blue?style=for-the-badge&logo=debian&logoColor=white"
                                alt="Download Debian package">
                        </a>
                        <a target="_blank" rel="noreferrer"
                            href="https://github.com/nukeop/nuclear/releases/download/v0.6.37/nuclear-v0.6.37-amd64.snap">
                            <img src="https://img.shields.io/badge/Download-Snap-blue?style=for-the-badge&logo=snapcraft&logoColor=white"
                                alt="Download Snap">
                        </a>
                        <a target="_blank" rel="noreferrer"
                            href="https://github.com/nukeop/nuclear/releases/download/v0.6.37/nuclear-v0.6.37-x64.tar.gz">
                            <img src="https://img.shields.io/badge/Download-Tarball-blue?style=for-the-badge&logo=linux&logoColor=white"
                                alt="Download Tarball">
                        </a>
                        <a target="_blank" rel="noreferrer" href="https://flathub.org/apps/org.js.nuclear.Nuclear">
                            <img src="https://img.shields.io/badge/Download-Flatpak-blue?style=for-the-badge&logo=flathub&logoColor=white"
                                alt="Download Flatpak">
                        </a>
                        <a target="_blank" rel="noreferrer"
                            href="https://aur.archlinux.org/packages/nuclear-player-bin">
                            <img src="https://img.shields.io/badge/Download-AUR-blue?style=for-the-badge&logo=arch-linux&logoColor=white"
                                alt="Download AUR">
                        </a>
                        <a target="_blank" rel="noreferrer"
                            href="https://github.com/nukeop/nuclear/releases/download/v0.6.37/nuclear-v0.6.37-x86_64.rpm">
                            <img src="https://img.shields.io/badge/Download-RPM-blue?style=for-the-badge&logo=fedora&logoColor=white"
                                alt="Download RPM">
                        </a>

                    </div>
                </div>
            </div>

        </div>
        <div class=" box">
            <div class="left">
                <h3>Windows</h3>
                <a target="_blank" rel="noreferrer" class="main-download"
                    href="https://github.com/nukeop/nuclear/releases/download/v0.6.37/nuclear-v0.6.37-x64.exe">
                    <img src="https://img.shields.io/badge/Download-EXE-blue?style=for-the-badge&logo=windows&logoColor=white"
                        alt="Download portable EXE">
                </a>
            </div>

            <div class="right">
                <div class="accordion">
                    <input type="checkbox" name="accordion" id="accordion-2" class="accordion-checkbox" />
                    <label for="accordion-2" class="accordion-label">
                        <h4>
                            {% include svg/chevron-down.svg %} Other downloads
                        </h4>
                    </label>
                    <div class="accordion-content">
                        <a target="_blank" rel="noreferrer"
                            href="https://github.com/nukeop/nuclear/releases/download/v0.6.37/nuclear.Setup.0.6.37.exe">
                            <img src="https://img.shields.io/badge/Download-Installer-blue?style=for-the-badge&logo=windows&logoColor=white"
                                alt="Download Installer">
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="left">
                <h3>Mac OS</h3>
                <div>
                    <h4>Apple Silicon</h4>
                    <a target="_blank" rel="noreferrer" class="main-download"
                        href="https://github.com/nukeop/nuclear/releases/download/v0.6.37/nuclear-v0.6.37-arm64.dmg">
                        <img src="https://img.shields.io/badge/Download-DMG-blue?style=for-the-badge&logo=apple&logoColor=white"
                            alt="Download DMG for Apple CPU">
                    </a>
                    <h4>Intel</h4>
                    <a target="_blank" rel="noreferrer" class="main-download"
                        href="https://github.com/nukeop/nuclear/releases/download/v0.6.37/nuclear-v0.6.37-x64.dmg">
                        <img src="https://img.shields.io/badge/Download-DMG-blue?style=for-the-badge&logo=apple&logoColor=white"
                            alt="Download DMG for Intel CPU">
                    </a>
                </div>
            </div>
            <div class="right">
                <div class="accordion">
                    <input type="checkbox" name="accordion" id="accordion-3" class="accordion-checkbox" />
                    <label for="accordion-3" class="accordion-label">
                        <h4>
                            {% include svg/chevron-down.svg %} If you have trouble running Nuclear
                        </h4>
                    </label>
                    <div class="accordion-content">

                        <div class="accordion-warning">
                            Note: MacOS can block running unsigned apps. If you have trouble running Nuclear, try this:

                            <h4>Remove the "quarantine" attribute</h4>
                            <ol>
                                <li>Open Terminal</li>
                                <li>Run <code>sudo xattr -r -d com.apple.quarantine /Applications/Nuclear.app</code>
                                </li>
                            </ol>

                            <h4>Allow Nuclear to run</h4>
                            <ol>
                                <li>Open System Preferences</li>
                                <li>Go to Security & Privacy</li>
                                <li>Click "Open Anyway" next to the Nuclear app</li>
                            </ol>

                            <h4>Disable Gatekeeper</h4>
                            <ol>
                                <li>Open Terminal</li>
                                <li>Run <code>sudo spctl --master-disable</code></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="guide">
            <h2>
                Got a question for Nuclear?
            </h2>

            <div class="buttons">

                <a class="faq" target="_blank" rel="noreferrer" href="https://nukeop.gitbook.io/nuclear/">User guide and
                    FAQ</a>
                <a class="soc-button" href="https://fosstodon.org/@nuclearplayer" rel="me">
                    {% include svg/mastodon.svg %} Ask us on Mastodon
                </a>
                <a class="soc-button" href="https://discord.gg/JqPjKxE" rel="me">
                    {% include svg/discord.svg %} Join Discord
                </a>
            </div>
        </div>
</section>