body {
    min-height: 100%;
    width: 100%;
}

.downloads {
    width: 100%;
    min-height: 100%;
    flex: 1 1 auto;
    background: url("/assets/images/background1.jpg");
    background-size: cover;

    h4 {
        margin-bottom: 0;
    }

    .container {
        position: relative;
        max-width: 800px;
        margin: 0 auto;

        @media screen and (max-width: $md) {
            max-width: 100%;
            margin: 0 24px;
        }
    }

    .box {
        display: grid;
        grid-template-columns: 50% 50%;
        background: rgba($bgdark, 0.4);
        border: 1px solid $bgdefault;
        border-radius: 8px;
        padding: 8px 24px 16px;
        margin-bottom: 8px;
        backdrop-filter: blur(8px);

        @media screen and (max-width: $sm) {
            grid-template-columns: 100%;
        }
    }

    .download-links {
        display: flex;
        flex-flow: row;
        align-items: center;
        gap: 8px;

        .main-download {
            flex: 1 1 auto;
        }

        @media screen and (max-width: $sm) {
            flex-flow: column;
        }
    }

    .left {
        h4 {
            margin-bottom: 8px;
        }
    }

    .accordion {
        display: flex;
        flex-flow: column;
        gap: 8px;
        flex: 1 1 auto;

        .accordion-label {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
            gap: 8px;
            margin-bottom: 8px;
            cursor: pointer;

            h4 {
                display: flex;
                align-items: center;
            }

            svg {
                fill: $white;
            }
        }

        .accordion-checkbox {
            display: none;
        }

        .accordion-checkbox:checked ~ .accordion-label svg {
            transform: rotate(180deg);
        }

        .accordion-checkbox:checked ~ .accordion-content {
            display: flex;
        }

        .accordion-content {
            display: none;
            overflow: hidden;
            flex-flow: column;

            .accordion-title {
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                align-items: center;
                gap: 8px;
            }
        }

        .accordion-warning {
            padding: 8px;
            border-radius: 8px;
            background: rgba($bglight, 0.4);
            border: 1px solid rgba($bglight, 0.6);
            color: rgba($white, 0.8);

            h4 {
                color: $white;
            }

            code {
                font-size: 16px;
                color: $pink;
                text-shadow: 1px 1px 1px rgba($black, 0.8);
            }
        }
    }

    .guide {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
        padding: 48px 0;

        h2 {
            text-align: center;
        }

        .buttons {
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
            gap: 24px;

            @media screen and (max-width: $sm) {
                flex-flow: column;
            }
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px;
            box-sizing: border-box;
            border-radius: 4px;
            font-size: 20px;
            text-decoration: none;
            color: $white;
            font-weight: bold;
            height: 64px;

            @media screen and (max-width: $sm) {
                font-size: 22px;
                padding: 8px 12px;
                height: auto;
                width: 100%;
                max-width: 480px;
                height: 50px;

                svg {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        a.faq {
            background: rgba($pink, 0.9);

            &:hover {
                background: lighten($pink, 5%);
            }
        }

        a.soc-button {
            border: 1px solid $bgdark;
            background: rgba($bgdark, 0.4);

            svg {
                margin-right: 16px;
                width: 28px;
                height: 28px;

                @media screen and (max-width: $xsm) {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}
