section.feature {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 768px;

    .fade-in, .fade-out {
        display: none;
    }

    @media screen and (max-width: $md) {
        height: 1080px;
        
        .fade-in-small, .fade-out-small {
            display: none;
        }
        
        .fade-in, .fade-out {
            display: block;
        }
    }
    
    @media screen and (max-width: $xsm) {
        height: 640px;
        .fade-in-small, .fade-out-small {
            display: block;
        }

        .fade-in, .fade-out {
            display: none;
        }
    }

    .container {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        margin: 0 96px;

        @media screen and (max-width: $md) {
            margin: 0 32px;
            flex-flow: column-reverse;

            &.reverse-md {
                flex-flow: column;
            }
        }

        @media screen and (max-width: $xsm) {
            margin: 0 16px;
        }

        svg {
            flex: 1 1 50%;
            max-width: 100%;
        }

        .description {
            display: flex;
            flex-flow: column;
            justify-content: center;
            flex: 1 1 50%;
            margin-left: 50px;

            @media screen and (max-width: $md) {
                margin-left: 0;
            }

            h2 {
                font-size: 64px;
                margin-top: 0;
                margin-bottom: 18px;
                
                @media screen and (max-width: $sm) {
                    font-size: 48px;
                }
                
                @media screen and (max-width: $xsm) {
                    font-size: 36px;
                    margin-bottom: 8px;
                }
            }

            p {
                font-size: 32px;

                @media screen and (max-width: $sm) {
                    font-size: 28px;
                }

                @media screen and (max-width: $xsm) {
                    font-size: 20px;
                    margin: 8px 0;
                }

                em {
                    font-weight: bold;
                    font-style: normal;
                }
            }
        }
    }
}
