body,
html {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  color: $white;
  background-color: $bgdark;
}