section.intro {
    position: relative;
    height: 1200px;
    background: url("/assets/images/background1.jpg");
    background-size: cover;

    @media screen and (max-width: $md) {
        height: auto;

        .fade-out {
            top: 1500px;
        }
    }

    .container {
        overflow-x: hidden;
    }

    .intro-content {
        display: flex;
        flex-flow: row;
        width: 100%;
        max-width: 1366px;
        padding-top: 122px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-width: $md) {
            flex-flow: column;
            width: auto;
            margin: 0 48px;
            padding-top: 64px;
        }
        @media screen and (max-width: $xsm) {
            margin: 0 16px;
            padding-top: 32px;
        }
    }

    .intro-left {
        min-width: 50%;

        h1 {
            font-size: 96px;
            font-weight: 800;
            margin: 0;

            @media screen and (max-width: $md) {
                font-size: 64px;
                text-align: center;
            }

            @media screen and (max-width: $md) {
                font-size: 40px;
                text-align: center;
            }

            em {
                color: $pink;
                font-style: normal;
            }

            span {
                white-space: nowrap;
            }
        }

        p {
            font-size: 32px;

            @media screen and (max-width: $md) {
                font-size: 24px;
                text-align: center;
            }

            @media screen and (max-width: $xsm) {
                font-size: 18px;
                text-align: center;
            }

            em {
                font-style: normal;
                font-weight: bold;
            }
        }
    }

    .mockup {
        position: relative;
        display: flex;
        justify-content: flex-end;
        flex: 1 1 auto;
        height: 645px;

        @media screen and (max-width: $md) {
            height: auto;
            justify-content: center;
            padding: 96px 0;
            
            img {
                max-width: 100%;
            }
        }
        
        @media screen and (max-width: $xsm) {
            padding: 48px 0;
        }

        img {
            object-fit: contain;
        }
    }

    .cta *,
    .social-proof,
    .featured-on {
        font-size: 22px;
        font-variant: all-small-caps;
        font-family: "Raleway";
    }

    @media screen and (max-width: $xsm) {
        .social-proof,
        .featured-on {
            font-size: 18px;
        }
    }

    .cta {
        padding-top: 48px;
        width: 85%;

        @media screen and (max-width: $md) {
            width: 600px;

            margin-left: auto;
            margin-right: auto;
            padding-bottom: 48px;
        }

        @media screen and (max-width: $sm) {
            width: auto;
        }
    }

    .social-proof {
        display: flex;
        align-items: center;
        opacity: 0.6;
        margin-top: 30px;
        margin-bottom: 24px;

        @media screen and (max-width: $md) {
            margin-top: 0;
            justify-content: center;
        }

        svg {
            margin-right: 8px;
        }
    }

    form {
        display: flex;
        margin-bottom: 24px;

        @media screen and (max-width: $sm) {
            flex-flow: column;
        }

        input {
            font-family: inherit;
            background: $white;
            color: $black;
            padding: 12px 24px;
            border-radius: 4px 0 0 4px;
            border: none;
            flex: 1 1 auto;

            @media screen and (max-width: $sm) {
                border-radius: 4px;

                &:not(:nth-child(2)) {
                    margin-bottom: 24px;
                }
            }
        }

        .submit-button {
            background: $pink;
            color: $white;
            border-radius: 0 4px 4px 0;
            padding: 12px 50px;

            @media screen and (max-width: $sm) {
                border-radius: 4px;
            }
        }

        .input-hidden {
            display: none;
        }
    }

    .links {
        display: flex;
        flex-flow: row;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px 0;
            color: $white;
            border-radius: 4px;
            flex: 1 1 auto;
            text-decoration: none;

            &:first-child {
                background: $blue;
                margin-right: 24px;
            }

            &:last-child {
                background: transparent;
                border: 2px solid $white;
            }
        }
    }

    .featured-on {
        position: relative;
        display: flex;
        flex-flow: column;
        z-index: 10;

        @media screen and (max-width: $md) {
            margin-top: 0;
            align-items: center;
        }

        & > span {
            margin-bottom: 16px;

            &:first-child {
                opacity: 0.6;
            }
        }

        a {
            display: inline-flex;
            align-items: center;
            margin-right: 24px;

            color: $white;
            text-decoration: none;

            svg {
                margin-right: 8px;
            }

            span {
                display: flex;
                align-items: center;
                opacity: 0.6;
            }

            &:hover span {
                opacity: 1;
            }
        }

        .secondary {
            display: flex;
            align-items: center;

            @media screen and (max-width: $xsm) {
                flex-flow: row wrap;
                justify-content: center;
            }

            a {
                font-size: 18px;
                opacity: 0.6;
                margin-right: 0;

                @media screen and (max-width: $xsm) {
                    font-size: 16px;
                }

                &:hover {
                    opacity: 1;
                }
            }

            svg {
                opacity: 0.6;
            }
        }
    }
}
