section.dark {
    background: $bgverydark;
}

section.background1 {
    background: url("/assets/images/background1.png");
    background-size: cover;
}

section.background2 {
    background: url("/assets/images/background2.png");
    background-size: cover;
}