[Desktop Entry]
Name=Nuclear
Comment=Streaming music player that finds music sources automatically.
Comment[es]=Reproductor que retransmite música desde fuentes encontradas automáticamente.
Exec="/opt/nuclear/nuclear" %U
Terminal=false
Type=Application
Icon=*/share/icons/hicolor/512x512/apps/org.js.nuclear.Nuclear.png
Categories=Audio;AudioVideo;Network;Player;Music;
