@use '../../../vars';

.tags_container {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  flex-flow: row wrap;
}

.tag {
  display: flex;
  line-height: 1;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.5rem 1rem;

  color: vars.$white;
  border-radius: 1.25rem;
  background-color: rgba(vars.$green, 0.8);
  white-space: nowrap;
}
