@use "../../vars.scss";

.spotify_import_webview {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 500px;
}

:global(.ui.indicating.progress).spotify_import_progress_bar {
    margin-top: 3em;

    div.label {
        color: vars.$white;
        margin-top: 1em;
    }
}
