@import '../../../vars.scss';

.player_button_container {
  display: flex;

  width: 60px;
  height: 60px;

  text-align: center;

  color: #f8f8f2;

  font-size: 30px;

  flex: 0 0 auto;
  flex-flow: row;
  align-items: center;

  & a {
    flex: 1 1 auto;
  }

  &:not(.player_button_disabled) :hover {
    transition: $short-duration; 
    color: darken($white, 50%);
  }

}

.player_button_disabled a {
  cursor: not-allowed;
}
