.player_button_container {
  display: flex;

  width: 60px;
  height: 60px;

  text-align: center;

  color: #f8f8f2;

  font-size: 30px;

  flex: 0 0 auto;
  flex-flow: row;
  align-items: center;
}

.player_button_container span {
  flex: 1 1 auto;
}
