@import 'tailwindcss';

@layer utilities {
  .bg-stripes-diagonal {
    background-image: repeating-linear-gradient(
      135deg,
      var(--seekbar, var(--primary)) 0 8px,
      var(--seekbar-track, var(--muted)) 8px 16px
    );
    animation: seekbar-stripes 1s linear infinite;
    background-size: 22.6px 22.6px;
  }

  @keyframes seekbar-stripes {
    to {
      background-position: 22.6px 0;
    }
  }
}
