@import '../../vars';

.plugins_view_container {
  display: flex;
  flex-flow: column;

  width: 100%;
  height: 100%;

  .menu.transition.visible {
    height: max-content;
    background-color: $background2;
    padding: 0;
  }

  .text {
    color: $white;
  }

  
  .flex_grid_thirds {
    display: flex;
    justify-content: space-between;

    .col {
      width: 32.5%;
    }

  }

  .plugin_settings {
    display: flex;
    flex-flow: column;

    margin-top: 1rem;

    .segment {
      background: rgba($background2, 0.35);
      border: 1px solid $background2;
      margin: 12px;

      .header_container {
        font-size: 24px;
        margin: 12px 0 8px 0;
      }
      .content_container {
        margin: 0;
      }
    }    
  }

  .ui.list .item {
    display: flex;
    flex-flow: row;
    padding-bottom: 0.5rem;

    &:first-child {
      padding-bottom: 0.5rem;
    }
  }

  .plugin_index {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
  }

  .plugin_buttons {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 auto;
  }
}
