@import '../../../vars';

.similar_artists_container {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;

  margin: 0 0.5rem;
  cursor: pointer;

  .header {
    margin-bottom: 1rem;

    font-size: 16px;
    font-variant: small-caps;
  }

  .artist_row {
    display: flex;
    align-items: center;
    flex-flow: row;

    margin: 0.25rem 0;
    padding: 0.25rem;

    transition: 0.25s ease-in-out;

    border-radius: 2px;
    background: $background2;

    img {
      flex: 0 0 auto;

      width: 3rem;
      height: 3rem;

      border-radius: 50%;
    }

    div {
      margin: 0.25rem 0.5rem;
    }

    &:hover {
      background: lighten($background2, 10%);
    }
  }
}
