@use '../../../vars.scss';

.sidebar_menu_category_header {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: rgba(vars.$white, 0.75);

  letter-spacing: 1.2px;
  font-variant: all-small-caps;

  hr {
    margin: 0.5rem 0 0 1rem;
    flex: 1 1 auto;
    border-color: vars.$bgdefault;
  }
}
