@import '../../../vars.scss';

.sidebar_menu_category_header {
  display: flex;
  flex-flow: row;
  flex-shrink: 0;
  padding: 0.5rem 1rem;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: rgba($white, 0.75);

  letter-spacing: 1.2px;
  font-variant: all-small-caps;
}
