@import "~../resources/external/bootstrap/css/bootstrap.min.css";
@import "~../resources/external/font-awesome/css/font-awesome.min.css";
@import "~../resources/external/fonts/Questrial/font.css";
@import "~../resources/external/fonts/FrancoisOne/font.css"

html {
  height: 100%;
}

body {
  height: 100%;
  background-image: url(https://images8.alphacoders.com/401/401364.jpg);
  font-family: Francois One;
  font-size: 24px;
  color: #ecf0f1;
  cursor: default;
  -webkit-user-select: none;
}

a, a:hover, a:focus {
  color: white;
  text-decoration: none;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #34495e00;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border: 1px solid #95a5a644;
    border-radius: 8px;
    background-color: #1C1A24;
}

.navbar {
  min-height: 25px;
  height: 25px;
  line-height: 25px;
  z-index: 3;
  cursor: default;
  border-radius: 0px;
  border-width: 0px;
  background-color: #16171A;
  box-shadow: 0 -6px 25px #000000;
}

.navbar>a {
  height:100%;
  padding: 0;
}

.btn:focus,
.btn:active {
  outline:none;
}

.navbar>button.btn-link, .navbar>button.btn-link:focus {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 0px;
  color: white;
  text-decoration: none;
  cursor: default;
}

.navbar-header {
  height: 25px;
}

.navbar-brand {
  padding: 0;
  padding-top: 2px;
  height: 100%;
}

.form-inline {
  width: 100%;
}

.form-group {
  padding: 0px 0px 0px 0px;
  margin: 0px;
  width: 100%;
}

.searchfield-group{
  margin-bottom: 12px;
  margin-top: 2px;
}

.searchicon {
  width: 24px !important;
  color: #ecf0f1;
  background-color:rgba(0,0,0,0) !important;
  border-radius: 0px;
  border: 0px;
  border-bottom: 2px solid #ecf0f1;
}

.searchfield {
  width:150px;
  color: #ecf0f1;
  background-color:rgba(0,0,0,0) !important;
  border-radius: 0px;
  border: 0px;
  border-bottom: 2px solid #ecf0f1;
  margin-bottom: 6px;
  box-shadow: inset 0 0px 0px rgba(0,0,0,0),0 0 0px rgba(0,0,0,0);
}

.searchfield:focus {
  box-shadow: inset 0 0px 0px rgba(0,0,0,0),0 0 0px rgba(0,0,0,0);
}

.multiselect-native-select>select {
  display: none;
}

.multiselect-native-select>.btn-group {
  width: 100%;
}

.multiselect-search-source,
.multiselect-search-source:hover,
.multiselect-search-source:focus,
.multiselect-search-source:active  {
  width: 100%;
  color: #ecf0f1;
  background-color:rgba(0,0,0,0) !important;
  border-radius: 0px;
  border: 0px;
  border-bottom: 2px solid #ecf0f1;
  box-shadow: inset 0 0px 0px rgba(0,0,0,0),0 0 0px rgba(0,0,0,0);
}

.btn-group.open .dropdown-toggle {
  box-shadow: inset 0 0px 0px rgba(0,0,0,0),0 0 0px rgba(0,0,0,0);
}

.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
  border-color: #66afe9;
}

.input-group .form-control{
  z-index: auto;
}

.form-inline{
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 12px;
}

.content-loading {
  position: absolute;
  height: 80%;
  width: 100%;
  line-height: 750px;
  vertical-align:middle;
  text-align: center;
}

.queue-loading {
  font-size: 10px;
}

.alert {
  padding: 0px;
}

.footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100px;
}

.table-striped>tbody>tr:nth-of-type(odd){
  background-color: #1C1A24;
}

.table-striped>tbody>tr:hover{
  color: #ecf0f1;
}

.table>tbody>tr>td{
  border: 0px;
}

.Popover-body {
  background-color: #1C1A24;
  border-radius: 4px;
  box-shadow: 0px 0px 25px #000000;
  font-size: 14px;
}

.Popover-tipShape {
  fill: #1C1A24;
}

.table-hover>tbody>tr:hover {
  background-color: #F5F5F566;
}

.rc-table-body>table {
  width: 100%;
}

.rc-table-tbody {
  width: 100%;
}

.rc-table-row {
  width: 100%;
}

.rc-table-row:hover {
  color: #ecf0f1;
}

.rc-table-row:hover>td>a {
  color: #ecf0f1;
}

.rc-table-expanded-row {
  position: relative;
  width: 100%;
  background-color: #1C1A24;
}

.rc-table-expanded-row>td:last-child {
  border-radius: 0px 0px 15px 15px;
}

.rc-table-expanded-row>td>ul {
  margin: 10px 0px 10px 0px;
  padding-left: 32px;
}
