html {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  cursor: default;
  font-family: 'Cabin';
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px;
}

a {
  color: #f8f8f2;
  text-decoration: none;
}
