@import "vars";

html {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
  -webkit-user-select: none;
  font-family: 'Lato';
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: $white;

  &:hover {
    text-decoration: none;
    color: $white;
    transition: 0.25s;
  }
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: $background;
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: $background2;
}

//Semantic UI section
.ui.segment {
  color: $white;
  background: $background3;
  position: relative;
}

.ui.menu {
  .item {
    color: $white;
  }
}

.ui.secondary.pointing.menu {
  border-color: rgba($white, 0.15);

  a.item {
    &:hover {
      color: $white;
    }

    font-variant: small-caps;
  }

  .active.item {
    color: $white;
    border-color: $green;

    &:hover {
      color: $white;
      border-color: $green;
    }
  }
}

.ui.tab.loading.segment, .ui.tab.loading, .ui.loader, .ui.dimmer .ui.loader {
  &:before {
    background: rgba($background2, 0.2);
    border: .2em solid rgba($background2, .6);
  }

  &:after {
    border-color: $green transparent transparent;
  }
}

.ui.checkbox {
  .box::before, label::before {
    background-color: rgba($background3, 0.35) !important;
    transition: 0.5s;
  }

  .box:hover::before, label:hover::before {
    background-color: rgba($background2, 0.25) !important;
    transition: 0.5s;
  }
}

.ui.toggle.checkbox {
  input:focus:checked~.box:before,
  input:focus:checked~label:before,
  input:checked~.box:before,
  input:checked~label:before {
    background-color: $blue !important;
    transition: 0.5s;
  }
}

.ui.red.button,
.ui.red.button:hover,
.ui.red.button:focus,
.ui.red.button:active {
  background-color: $red;
}

hr {
  border: 1px solid $background2;
}

.item.fade.visible.transition {
  display: flex;
  width: 100%;
  height: 60px;
  flex: 0 0 auto;
  margin: 0.5rem;
}
