.app_container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  color: #f8f8f2;
}

.panel_container {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row;
}

.navbar {
  background-color: #21222c;
  height: 50px;
  -webkit-app-region: drag;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.18), 0px 5px 20px 0px rgba(0, 0, 0, 0.09);
  z-index: 20;
  display: flex;
  flex-flow: row;
}

.left_panel {
  background-color: #282a36;
  width: 300px;
  box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.18), 5px 0px 20px 0px rgba(0, 0, 0, 0.09);
  z-index: 10;
  display: flex;
  flex-flow: column;
}

.center_panel {
  background-color: #282a36;
  flex: 1 1 auto;

}

.right_panel {
  background-color: #282a36;
  width: 300px;
  box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.18), -5px 0px 20px 0px rgba(0, 0, 0, 0.09);
  z-index: 10;
  display: flex;
  flex-flow: column;
}

.footer {
  flex: 0 0 auto;
  overflow-y: hidden;
  background-color: #21222c;
  height: 80px;
  box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.18), 0px -10px 20px 0px rgba(0, 0, 0, 0.09);
  z-index: 20;
  display: flex;
  flex-flow: column;
}

.footer_horizontal {
  display: flex;
  flex-flow: row;
  flex: 1 1 auto;
  align-items: center;
}

.track_info_wrapper {
  display: flex;
  flex-flow: row;
  flex: 0 0 auto;
}
