.best_new_music_tab_pane {
  position: relative !important;
  display: flex !important;
  flex-flow: row;
  height: 100%;
}

.best_new_music_tab_container {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

.best_new_music_section_container {
  position: relative;
  display: flex;
  flex-flow: column;
  
  width: 100%;
  height: auto; 
}
