@import '../../vars';

.card_container {
  width: 20%;
  padding: 1rem;

  @media screen and (max-width: 1600px) {
    width: 25%;
  }

  @media screen and (max-width: 1280px) {
    width: 33.33%;
  }

  @media screen and (max-width: 1100px) {
    width: 50%;
  }
}

.card {
  display: flex;
  flex-flow: column;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  background-color: $background2;
  border-radius: 0.125rem;
  width: auto;
  height: 100%;
  transition: $short-duration ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }

  .thumbnail {
    flex: 1 1 auto;
    width: 100%;
    border-radius: 0.125rem 0.125rem 0 0;
    overflow: hidden;

    div {
      width: 100%;
      height: 0;
      border-radius: 0.125rem 0.125rem 0 0;
      background-size: cover !important;
      background-position: center !important;
    }
  }

  hr {
    border: none;
    border-bottom: 1px solid rgba($grey, 0.15);
  }
}

.small {
  width: auto;
}

.container {
  flex: 0 0 auto;
  padding: 0.125rem 1rem;
  height: auto;

  h4 {
    margin: 0.5rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p {
    margin: 0 0 0.5rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba($white, 0.6);
  }
}
