@use "../../vars";

.seekbar_container {
  position: relative;
  cursor: pointer;
  background-color: vars.$background2;
  flex: none !important;
  padding: 3px 0 !important;
  height: auto !important;
  font-size: 12px;
  line-height: 1em;
}

.seekbar_fill {
  background-color: vars.$pink;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  will-change: auto;
}
.seekbar_placeholder {
  opacity: 0;
}
