@import '../../../../vars';

.ui.warning.message.plugins_warning {
  background-color: $yellow;
  color: darken($yellow, 60%);
  box-shadow: none;
  margin: 0;

  .header {
    color: darken($yellow, 60%);
  }
}
