@import '../../vars.scss';

.play_queue_container {
  display: flex;
  overflow-y: auto;

  flex: 1 1 auto;
  flex-flow: column;

  .play_queue_items {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    overflow-y: auto;
    transition: $short-duration;
    .queue_item_container {
      transition: all $medium-duration ease-out;
      opacity: 0;
    }
  }

  .dragged_over {
    background: $background3;
  }

  &.compact {
    .queue_menu_buttons {
      a:not(.compactButton) {
        display: none;
      }
    }

    .queue_item_container {
      margin: 0.25rem;
      height: 2.5rem;
    }

    .thumbnail_container {
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0.25rem;
    }

    .item_info_container {
      display: none;
    }

    .item_duration_container {
      display: none;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}
