.dashboard,
.dashboard_tabs {
  position: relative;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.dashboard {
  .dashboard_tabs {
    .ui.secondary.menu {
      margin-bottom: 0;
      flex: 0 0 auto;
    }
  }
}
