@import "../../../vars";

.tag_top_tracks {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 100%;

  .track {
    transition: $short-duration;
  }

  .track_thumbnail {
    width: 3rem;
    height: 3rem;
  }

  .add_all_button {
    margin-right: 0;
    margin-bottom: 0.5em;

    max-width: 50%;
  }

  table {
    width: 100%;
  }

  thead {
    background: $background2;
  }

  th {
    padding: 1rem;
    text-align: left;
  }

  tr {
    transition: $short-duration;
  }

  tr:hover {
    background: rgba($background2, 0.25);
  }

  td {
    padding: 1rem 1rem;
    border-bottom: 1px solid $background2;
  }
}
