$header-background-color: transparent;
$background-color: transparent;
//$table-prefix: BaseTable !default;

$border: none;
$row-hovered-background-color: hsla(0, 0%, 100%, .2);

@import '~react-base-table/es/_BaseTable.scss';