@import '../../../../vars.scss';

.best_new_music_menu {
  flex: 0 0 auto;
  
  .menu {
  }

  .best_new_music_menu_header {
    font-weight: bold !important;
    font-size: 18px;
  }
  
  .item {
    padding: 6px 8px !important;

    &:hover {
      color: $white !important;
    }
  }
}
