@import '../../../../vars.scss';

.best_new_music_menu {
  flex: 0 0 auto;
  overflow-y: auto;
  
  .menu {
  }

  .best_new_music_menu_header {
    font-weight: bold !important;
    font-size: 18px;
    margin-top: 1.25rem;
    margin-bottom: 0.25rem;
    &:first-child {
      margin-top: 0;
    }
  }
  
  .item {
    padding: 0.15rem !important;

    &:hover {
      color: $white !important;
    }
  }
}
