@use '../../mixin.scss';

.playlists_container {
	display: flex;
	height: 100%;
	flex-flow: column;

	.empty_state {
		@include mixin.emptyState;
  }

	.playlists_segment {
		display: flex;
		flex-flow: row wrap;
		width: 100%;
		flex: 1 1 auto;
		align-content: flex-start;
		margin-top: 0;
  }
}