@import '../../../../vars';

.best_new_list_container {
  display: flex;
  position: relative;
  flex-flow: column;

  height: 100%;
  width: 100%;

  .best_new_main {
    background-color: $background;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
  }
  
  .best_new_items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: $background;
    border-radius: 0.25rem;
  }
}
