@import '../../vars';

.album_view_container {
  width: 100%;
  height: 100%;
  margin: 1rem 0rem;

  .dimmable {
    width: 100%;
    height: 100%;

    .album {
      display: flex;
      flex-flow: column;
    }

    .album_info_box {
      display: flex;

      margin: 0rem 1rem;

      flex-flow: row;

      img {
        width: 15rem;
        height: 15rem;

        border-radius: 0.5rem;
        box-shadow: 0rem 0rem 1rem 0.5rem rgba($black, 0.4);

        flex: 0 0 auto;
      }

      .album_details {
        display: flex;

        margin: 0rem 1rem;

        font-size: 16px;

        flex-flow: column;

        label {
          margin: 0 0.5rem 0 0;

          color: $lightbg;
        }

        .album_title {
          font-size: 32px;
          line-height: 32px;
        }

        .album_artist {
          margin: 1rem 0;

          color: $lightbg;

          font-size: 20px;
        }

        .album_genre {
          margin: 0.125rem 0;
        }

        .album_year {
          margin: 0.125rem 0;
        }

        .album_tracks {
          margin: 0.125rem 0;
        }
      }
    }

    .album_tracklist {
      flex: 1 1 auto;
      width: calc(100% - 3rem);
      margin: 3rem 1rem;
      font-size: 16px;

      thead {
        background: $background2;

        th {
          padding: 1rem 0;
        }
      }

      tbody {
        tr:hover {
            background: rgba($background2, 0.25);
        }

        td {
          padding: 1rem 0;
          border-bottom: 1px solid $background2;
        }
      }

      .left {
        text-align: left;
      }

      .center {
        text-align: center;
      }
    }
  }
}
