@import '../../vars';

.album_view_container {
  width: 100%;
  height: 100%;
  margin: 1rem 0rem;

  .album_buttons {
    display: flex;
    flex-flow: row;
    padding-top: 1rem;

    a {
      padding: 0.375rem 2.5rem;
    }
  }

  .play_button {
    background: $pink;
    color: $white;
    border-radius: 1.5rem;
    text-transform: uppercase;
    margin-right: 2rem;
  }

  .more_button {
    border: 1px solid white;
    border-radius: 1.5rem;
  }

  .dimmable {
    width: 100%;
    height: 100%;

    .album {
      display: flex;
      flex-flow: column;
    }

    .album_info_box {
      display: flex;

      margin: 0rem 1rem;

      flex-flow: row;

      img {
        width: 15rem;
        height: 15rem;

        border-radius: 0.5rem;
        box-shadow: 0rem 0rem 1rem 0.5rem rgba($black, 0.4);

        flex: 0 0 auto;
      }

      .album_details {
        display: flex;

        margin: 0rem 1rem;

        font-size: 16px;

        flex-flow: column;

        label {
          margin: 0 0.5rem 0 0;

          color: $lightbg;
        }

        .album_title {
          font-size: 32px;
          line-height: 32px;
        }

        .album_artist {
          margin: 1rem 0;

          color: $lightbg;

          font-size: 20px;
          a {
            color: $lightbg;
            transition: $short-duration;

            &:hover {
              color: $white;
            }
          }
        }

        .album_genre {
          margin: 0.125rem 0;
        }

        .album_year {
          margin: 0.125rem 0;
        }

        .album_tracks {
          margin: 0.125rem 0;
        }
      }

      .album_favorites_button_wrap {
        position: absolute;
        display: flex;
        top: 0;
        right: 0;
        margin:  0rem 2rem;
        
        .star.outline::before {
          content: "\f006"; // fix for semantic-ui-react bug
        }
      }
    }

    .album_tracklist {
      flex: 1 1 auto;
      width: calc(100% - 3rem);
      margin: 3rem 1rem;
      font-size: 16px;

      thead {
        background: $background2;

        th {
          padding: 1rem 1rem;
        }
      }

      tbody {
        tr {
          transition: $short-duration;
        }

        tr:hover {
          background: rgba($background2, 0.25);
        }

        td {
          padding: 1rem 1rem;
          border-bottom: 1px solid $background2;
        }
      }

      .left {
        text-align: left;
      }

      .center {
        text-align: center;
      }
    }
  }
}
