---
---

$bgverydark: #1f212d;
$bgdark: #2c2e3a;
$bglight: #6e7291;
$bgdefault: #424557;

$white: #fafafa;
$black: #202020;

$pink: #fc83d3;
$purple: #9b59b6;
$blue: #3498db;
$linkblue: #0984e3;

@import "index";
@import "breakpoints";

@import "header";
@import "intro";
@import "features";
@import "sections";
@import "testimonials";
@import "ask-us";
@import "faq";
@import "footer";
