@import "../../vars";

.card {
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2);
  background-color: $background2;
  transition: 0.3s;
  border-radius: 0.125rem;
  width: 15rem;
  margin: 1rem;
  transition: 0.25s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
    transform: scale(1.1);
  }

  img {
    height: 15rem;
    width: 100%;
    border-radius: 0.125rem 0.125rem 0 0;
    object-fit: cover;
  }

  hr {
    border: none;
    border-bottom: 1px solid rgba($grey, 0.15);
  }
}

.small {
  width: 10rem;

  img {
    height: 10rem;
  }
}

.container {
  padding: 0.125rem 1rem;
  height: auto;

  h4 {
    margin: 0.5rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p {
    margin: 0 0 0.5rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba($white, 0.6);
  }
}
