:root[data-theme-id='nuclear:lagoon'] {
  --background: oklch(0.985 0.018 210);
  --primary: oklch(0.67 0.16 205);
}

:root[data-theme-id='nuclear:lagoon'][data-theme='dark'] {
  --background: oklch(0.20 0.025 205);
  --background-secondary: oklch(0.25 0.03 205);
  --background-input: oklch(0.13 0.015 205);
  --primary: oklch(0.67 0.16 205);
  --foreground: oklch(0.93 0.008 205);
  --foreground-secondary: oklch(0.78 0.015 205);
}
