@use "../../vars";

@use "../../../../ui/lib/common.scss";

.album_view_container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;

  .album_buttons {
    display: flex;
    flex-flow: row;
    padding-top: 1rem;

    a {
      padding: 0.375rem 2.5rem;
    }
  }

  .play_button {
    background: vars.$pink;
    color: vars.$white;
    border-radius: 1.5rem;
    text-transform: uppercase;
    margin-right: 2rem;
  }

  .more_button {
    border: 1px solid vars.$white;
    border-radius: 1.5rem;
  }

  .dimmable {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;

    .album {
      display: flex;
      flex-flow: column;
      flex: 1 1 auto;
    }

    .album_info_box {
      display: flex;
      flex-flow: row;

      img {
        width: 15rem;
        height: 15rem;
        object-fit: contain;

        border-radius: 0.5rem;
        box-shadow: 0rem 0rem 1rem 0.5rem rgba(vars.$black, 0.4);

        flex: 0 0 auto;
      }

      .album_details {
        display: flex;
        flex: 1;
        margin: 0rem 1rem;
        font-size: 16px;
        flex-flow: column;
        min-width: 300px;

        label {
          margin: 0 0.5rem 0 0;
          color: rgba(vars.$white, 0.6);
        }

        .album_title {
          display: flex;
          flex-direction: row;
          align-items: center;

          .album_text {
            font-size: 32px;
            line-height: 1.2;
            flex: 1;
            @include common.ellipsis;
          }
        }

        .album_artist {
          margin: 1rem 0;

          color: rgba(vars.$white, 0.6);

          font-size: 20px;
          a {
            color: rgba(vars.$white, 0.6);
            transition: vars.$short-duration;

            &:hover {
              color: vars.$white;
            }
          }
        }

        .album_genre {
          margin: 0.125rem 0;
        }

        .album_year {
          margin: 0.125rem 0;
        }

        .album_tracks {
          margin: 0.125rem 0;
        }
      }

      .album_favorites_button_wrap {
        display: flex;
      }
    }

    [role="table"] {
      margin-top: 2rem;
      width: 100%;
    }

    .error {
      margin-top: 10rem;
      text-align: center;
      font-size: 1.2rem;

      .message {
        margin-top: 1.5rem;
      }
    }
  }
}
