.overlay_container {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 250px;
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.overlay_container:hover {
  backdrop-filter: blur(4px) brightness(75%);
}

.overlay_container:hover a {
  display: flex;
}

.overlay_play_button {
  display: none;
  flex: 0 0 auto;
  text-align: center;
  font-size: 48px;
  background-color: #282a36;
  align-items: center;
  height: 96px;
  width: 96px;
  border-radius: 96px;
  border: 4px solid #f8f8f2;
}

.overlay_play_button span {
  flex: 1 1 auto;
}
