pkgbase = nuclear-player-git
	pkgdesc = Nuclear is a free, open-source music player without ads or tracking.
	pkgver = 
	pkgrel = 1
	url = https://nuclearplayer.com
	arch = x86_64
	license = AGPL-3.0-only
	makedepends = git
	makedepends = cargo
	makedepends = nodejs
	makedepends = openssl
	makedepends = libappindicator-gtk3
	makedepends = librsvg
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = hicolor-icon-theme
	depends = gst-plugins-base
	depends = gst-plugins-good
	optdepends = gst-plugins-bad: Additional media codec support
	optdepends = gst-plugins-ugly: Patented codec support
	optdepends = gst-libav: FFmpeg-based codec support
	provides = nuclear-player
	conflicts = nuclear-player
	conflicts = nuclear-player-bin
	source = nuclear-player-git::git+https://github.com/nukeop/nuclear.git
	sha256sums = SKIP

pkgname = nuclear-player-git
