@import '../../../mixin';
@import '../../../vars';

.library_simple_list {
  background: transparent !important;
  margin-top: 0;

  .thead {
    th {
      position: relative;
      color: rgba($white, 0.5) !important;
      font-size: 20px !important;
      background: transparent !important;
      border-bottom: 0.5px solid rgba($white, 0.2) !important;

      &:last-child {
        text-align: right;
      }

      i {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
      }
    }
    // since virtualization is used, we have to pre-define the column widths
    // (the width of the third column, title, is whatever is left over)
    th:nth-child(1) { width: 42px; }
    th:nth-child(2) { width: 30%; }
    th:nth-child(4) { width: 25%; }
  }

  .tbody {
    tr {
      color: $white;
    }

    td {
      @include ellipsis;
      border-color: transparent;
      max-width: 0;
    }
  }
}
