@import '../../vars';

.artist_view_container {
  position: relative;
  width: 100%;
  height: 100%;

  .dimmable {
    width: 100%;
    height: 100%;

    .artist {
      display: flex;
      flex-flow: column;
    }

    .artist_header {
      display: flex;
      flex-flow: row;
      flex: 0 0 auto;
      height: 15rem;
      width: 100%;
      margin: 0 0 1rem 0;
    }
  }
}
