@use "../../vars";

.main_layout_container {
  position: relative;

  height: calc(100% - 2rem);
  margin: 1rem;
  box-sizing: border-box;
  overflow: auto;
}

.main_layout_container > .transition {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;

  & > div {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.visible.dimmer {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 0.5rem;
  transition: vars.$long-duration;
}

.ui.dimmer {
  background-color: vars.$background3;
}
