@import '../../../vars';
.volume_slider_container {
  position: relative;

  cursor: pointer;

  flex: 0 0 150px;
}

.volume_slider_bg {
  position: absolute;

  width: 100%;
  height: 100%;

  border-radius: 2px;
  background-color: rgba(0, 0, 0, 1);
}

.volume_slider_fill {
  top: 0;

  height: 4px;

  border-radius: 2px;
  background-color: rgba(248, 248, 242, 1);
  transition: $short-duration;
}
