@use '../../vars.scss';

.nuclear.toast_container {
  height: auto;
  top: 0;
  bottom: 90px; //footer height
  z-index: 2000;
  pointer-events: none;

  .toast {
    min-width: 20rem;
    height: auto;
    pointer-events: all;

    &.error {
      background: rgba(vars.$red, 0.75);
    }

    &.warning {
      background: rgba(vars.$orange, 0.75);
    }

    &.info {
      background: rgba(vars.$blue, 0.75);
    }

    &.success {
      background: rgba(vars.$green, 0.75);
    }
  }

  .toast_icon,
  img {
    max-height: 3.5rem;
  }
}
