@import "../../vars";

.seekbar_container {
  height: 4px;

  cursor: pointer;

  background-color: transparent;

  flex: 0 0 auto;

  background-color: rgba(248, 248, 242, 0.25);
}

.seekbar_fill {
  height: 4px;

  background-color: $pink;
}
