@import '../../../vars.scss';

.expanding_menu_section {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  padding: 0.75rem;
  transition: $short-duration;
  letter-spacing: 0.5px;
  font-size: 1.25rem;
  font-variant: small-caps;
  color: rgba($white, 0.5);

  .fa {
    margin-right: 0.5em;
  }
}
