@import '../../vars.scss';

@mixin time {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.track_duration_widget {
  position: relative;
  z-index: 2;
  @include time;
  padding: 0 14px;
  pointer-events: none;
  .time_played,
  .time_to_end {
    @include time;
  }
}
