@import '../../vars.scss';

.help_modal {
  top: 25% !important;
  color: rgba($white, 0.75) !important;
  a {
    color: $cyan;
  }
  .contributors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contributors_header {
    color: $white !important;
  }
  .social_icons {
    width: 20%;
    margin: 0 auto;
    .icon, .mastadon {
      display: inline-block;
      padding-left: 10px;
      height: 28px;

    }
    .mastadon {
      vertical-align: bottom;
      padding-left: 20px;
      img {
        height: 28px;
        opacity: 0.5;
      }
      img:hover {
        cursor: pointer;
        opacity: .7;
      }
    }
  }
}
