@use '../../vars.scss';

$icon_color: rgba(vars.$white, 0.75) !important;

.ui.page.modals.dimmer {
  background: rgba(vars.$background, 0.85);
}

.help_modal {
  top: 25% !important;
  color: $icon_color;
  a {
    color: vars.$cyan;
  }
  .contributors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contributors_header {
    color: vars.$white !important;
  }
  .social_icons {
    display: flex;
    width: 30%;
    margin: 0 auto;
    justify-content: space-between;
    
    .mastodon {
      width: 28px;
      cursor: pointer;
      opacity: 0.9;

      &:hover {
        opacity: 1;
      }

      svg {
        fill: $icon_color;
      }
    }
  }
}
