@import '../../vars.scss';

.navbar {
  z-index: 20;

  display: flex;
  flex-flow: row;
  align-items: center;

  height: 50px;

  background-color: $background;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.18),
    0px 5px 20px 0px rgba(0, 0, 0, 0.09);
}
