.library_folders {
  display: flex;
  flex-flow: column;
  padding: 0;
  flex: 0 0 auto;

  .control_bar {
    margin: 0;
    padding: 0;
  }

  .list {
    margin: 0;
  }

  .refresh_icon {
    margin-left: 10px !important;
    cursor: pointer;
  }

  .progress_bar {
    display: inline-block;
    flex: 1;
    margin: 1em 0 0 0;
  }

  .folder_remove_icon {
    cursor: pointer;
  }
}
