@import '../../vars.scss';

.expanding_menu_navlink {
  display: flex;
  flex-flow: column;

  .expanding_menu_navlink_header {
    margin: 1.5rem 0 0.5rem 0.75rem;
    color: rgba($white, 0.5);
    font-size: 1.25rem;
    font-variant: small-caps;
    cursor: pointer;
  }
}
