@use '../../mixin.scss';

.favorite_albums_view {
  display: flex;
  flex-flow: column;
  height: 100%;
  
  .empty_state {
    @include mixin.emptyState;
  }

  .favorite_albums_segment {
    display: flex;
    flex-flow: row wrap;
  }
}
