.window_button_container {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  color: #f8f8f2;
  font-size: 16px;
  cursor: pointer;
  -webkit-app-region: no-drag;
  margin-right: 10px;
}


.window_button_container span {
  width: 100%;
  text-align: center;
}
