@use "../../../../vars.scss";

.queue_menu_more {
  margin-left: auto;
  align-self: center;

  .menu {
    left: auto !important;
    right: 0;
  }

  .divider:not(.text) {
    border-top: 1px solid rgba(vars.$background2, 0.6) !important;
  }

  .dropdown.left {
    .dropdown.icon {
      margin: 0 1em 0 0 !important;
      transform: rotate(180deg);
      float: left !important;
    }
  }
}
