@import '../../mixin.scss';
@import "../../vars";

.lyrics_view {
  position: relative;
  height: 100%;

  .empty_state {
    @include emptyState;
  }
  
  .lyrics_text{
    white-space: pre-line;
    font-size: 1.3em;
    margin-left: 1rem;
  }
  
  .export_button{
	background: $pink;
    color: $white;
    border-radius: 1.5rem;
    text-transform: uppercase;
    display: inline-block;
    margin: auto;
  }
	
  .button_container {
	padding-top: 1rem;
	margin-left: 1rem;
	a {
		padding: 0.375rem 2.5rem;
	}
  }
}
