@import '../../mixin.scss';
@import '../../vars.scss';

.local_files_view {
  display: flex;
  flex-flow: column;

  .control_bar {
    display: flex;
    padding: 0;
  }

  .refresh_icon {
    margin-left: 10px !important;
    cursor: pointer;
  }

  .progress_bar {
    display: inline-block;
    flex: 1;
    margin: auto 0 auto 10px !important;
  }

  .folder_remove_icon {
    cursor: pointer;
  }

  .search_field_row{
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    .input {
      @include roundCorners;
      @include transition;
      border: 1px solid $white;
      padding: .67861429em 1em;

      &:hover,
      &:focus,
      &:active {
        border: 1px solid rgba($blue, 0.9);
      }

      i {
        margin-left: 0.7em !important;
      }
    }
  }

  .tracks_container {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    // fix for react-list excluding header from its height-calc
    div:nth-child(2) { margin-bottom: 58px; }
  }

  .table {
    background: transparent !important;
    margin-top: 0;
  }

  .thead {
    th {
      color: rgba(250, 250, 250, 0.5) !important;
      font-size: 20px !important;
      background: transparent !important;
      border-bottom: 0.5px solid rgba(250, 250, 250, 0.5) !important;
    }
    // since virtualization is used, we have to pre-define the column widths
    // (the width of the third column, title, is whatever is left over)
    th:nth-child(1) { width: 42px; }
    th:nth-child(2) { width: 30%; }
    th:nth-child(4) { width: 25%; }
  }

  .tbody {
    tr {
      color: white;
    }
    td {
      border-color: transparent;
    }
  }
}
