@use '../../mixin';
@use '../../vars';

.plugins_view_container {
  display: flex;
  flex-flow: column;

  width: 75%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  .plugin_settings_section {
    &:not(:last-child){
      margin-bottom: 1rem;
    }

    hr {
      width: 100%;
    }

    label {
      flex: 1 1 auto;
    }

    .header_container {
      font-size: 20px;
      font-weight: bold;
      margin: 0 0;
    }

    .ui.segment {
      display: flex;
      align-items: center;

      background: rgba(vars.$background2, 0.35);
      border: 1px solid vars.$background2;
    }

  }

  .ui.list .item {
    display: flex;
    flex-flow: row;
    padding-bottom: 0.5rem;

    &:first-child {
      padding-bottom: 0.5rem;
    }
  }

  .ui.selection.dropdown {
    @include mixin.dropdownOverride;
  }
}
