.track_info_container {
  display: flex;

  margin: 10px 20px;

  color: #f8f8f2;

  flex-flow: column;
}

.track_name {
  margin-bottom: 10px;

  font-size: 22px;

  flex: 1 1 auto;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.artist_name {
  color: rgba(248, 248, 242, 0.5);

  font-size: 16px;

  flex: 1 1 auto;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
