.track_info_container {
  display: flex;

  margin: 10px 20px;

  color: #f8f8f2;

  flex-flow: column;
}

.track_name {
  margin-bottom: 10px;

  font-size: 22px;

  flex: 1 1 auto;
}

.artist_name {
  color: rgba(189, 195, 199, 0.5);

  font-size: 16px;

  flex: 1 1 auto;
}
