@import '../../../vars';

.header_container{

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;

  button.ui.button {
    width: 3em;
    height: 3em;
    margin-right: 1em;
    border: 1px solid rgba($white,0.3);

    &:hover {
      i {
        color: rgba($black, 0.9);
      }
    }

    i {
      color: rgba($white, 0.6);
    }
  }
}
