@use "../../../vars";

.genre_tab_container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
  grid-auto-rows: auto;
  gap: 4px;

  svg,
  path {
    stroke: vars.$white;
  }

  svg {
    width: 96px;
    height: 96px;
  }

  .svg_icon {
    margin-bottom: 1rem;
  }

  .genre_container {
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    transition: vars.$short-duration;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    height: 100%;
    min-height: 200px;

    &:hover {
      transform: scale(1.1);
    }
  }

  .genre_name,
  .genre_overlay {
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    border-radius: 0.25rem;
  }

  .genre_overlay {
    overflow: hidden;
    background-color: vars.$black;
  }

  .genre_overlay img:first-child {
    opacity: 0.6;
  }

  .genre_name {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
  }
}
