name: Generate coverage

on:
  push:
    branches-ignore:
      - crowdin
  pull_request:
    branches-ignore:
      - crowdin

jobs:
  coverage:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@master
      - name: Use Node.js 18
        uses: actions/setup-node@master
        with:
          version: 18
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Run coverage
        run: npm run coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./packages/app/coverage/clover.xml,./packages/core/coverage/clover.xml,./packages/ui/coverage/clover.xml
