name: Release job

on: workflow_dispatch

jobs:
  linux_release:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@master
      - uses: benjlevesque/short-sha@v1.2
        id: short-sha
        with:
          length: 6
      - name: Use Node.js 16.x
        uses: actions/setup-node@v2
        with:
          version: 16.x
          cache: npm
      - run: npm ci
      - run: npm run build:linux
        shell: bash
        env:
          GITHASH: ${{ steps.short-sha.outputs.sha }}
      - name: Upload binaries
        uses: actions/upload-artifact@v2
        with:
          name: nuclear-binaries-linux
          path: release/*.*
      - name: Create a release
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ steps.short-sha.outputs.sha }}
          tag_name: ${{ steps.short-sha.outputs.sha }}
          prerelease: true
          files: release/*.*
      - name: Inform AUR updater
        uses: peter-evans/repository-dispatch@v1
        with:
          repository: NuclearPlayer/nuclear-nightly-aur
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          event-type: release
          client-payload: '{"tag": "${{ steps.short-sha.outputs.sha }}"}'
      - name: Inform Snapcraft updater
        uses: peter-evans/repository-dispatch@v1
        with:
          repository: NuclearPlayer/nuclear-nightly-snapcraft
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          event-type: release
          client-payload: '{"tag": "${{ steps.short-sha.outputs.sha }}"}'

  mac_release:
    runs-on: macOS-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@master
      - uses: benjlevesque/short-sha@v1.2
        id: short-sha
        with:
          length: 6
      - name: Use Node.js 16.x
        uses: actions/setup-node@v2
        with:
          version: 16.x
          cache: npm
      - run: npm ci
      - run: npm run build:macos
        shell: bash
        env:
          GITHASH: ${{ steps.short-sha.outputs.sha }}
      - name: Upload binaries
        uses: actions/upload-artifact@v2
        with:
          name: nuclear-binaries-mac
          path: release/*.*
      - name: Create a release
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ steps.short-sha.outputs.sha }}
          tag_name: ${{ steps.short-sha.outputs.sha }}
          prerelease: true
          files: release/*.*

  windows_release:
    runs-on: windows-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@master
      - uses: benjlevesque/short-sha@v1.2
        id: short-sha
        with:
          length: 6
      - name: Use Node.js 16.x
        uses: actions/setup-node@v2
        with:
          version: 16.x
          cache: npm
      - name: add git binaries to PATH
        run: |
          echo "C:\Program Files\Git\usr\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          echo "C:\Program Files\Git\mingw64\libexec\git-core" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          npm config set msvs_version 2022
      - run: npm ci
      - run: npm run build:windows
        shell: bash
        env:
          GITHASH: ${{ steps.short-sha.outputs.sha }}
      - name: Upload binaries
        uses: actions/upload-artifact@v2
        with:
          name: nuclear-binaries-windows
          path: release/*.*
      - name: Create a release
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ steps.short-sha.outputs.sha }}
          tag_name: ${{ steps.short-sha.outputs.sha }}
          prerelease: true
          files: release/*.*
