name: Release job

on: workflow_dispatch

jobs:
  linux_release:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
    - uses: actions/checkout@master
    - name: Use Node.js 12.x
      uses: actions/setup-node@v2
      with:
        version: 12.x
        cache: npm
    - run: npm ci
    - run: npm run build:linux
      shell: bash
      env:
        GITHASH: nightly
    - name: Upload binaries
      uses: actions/upload-artifact@v2
      with:
        name: nuclear-binaries-linux
        path: release/*.*
    - name: Create a release
      uses: softprops/action-gh-release@v1
      with:
        name: nightly
        tag_name: nightly
        prerelease: true
        files: release/*.*

  mac_release:
    runs-on: macOS-latest
    timeout-minutes: 30

    steps:
    - uses: actions/checkout@master
    - name: Use Node.js 12.x
      uses: actions/setup-node@v2
      with:
        version: 12.x
        cache: npm
    - run: npm ci
    - run: npm run build:macos
      shell: bash
      env:
        GITHASH: nightly
    - name: Upload binaries
      uses: actions/upload-artifact@v2
      with:
        name: nuclear-binaries-mac
        path: release/*.*
    - name: Create a release
      uses: softprops/action-gh-release@v1
      with:
        name: nightly
        tag_name: nightly
        prerelease: true
        files: release/*.*

  windows_release:
    runs-on: windows-latest
    timeout-minutes: 30

    steps:
    - uses: actions/checkout@master
    - name: Use Node.js 12.x
      uses: actions/setup-node@v2
      with:
        version: 12.x
        cache: npm
    - name: add git binaries to PATH
      run: |
        echo "C:\Program Files\Git\usr\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
        echo "C:\Program Files\Git\mingw64\libexec\git-core" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
    - run: npm ci
    - run: npm run build:windows
      shell: bash
      env:
        GITHASH: nightly
    - name: Upload binaries
      uses: actions/upload-artifact@v2
      with:
        name: nuclear-binaries-windows
        path: release/*.*
    - name: Create a release
      uses: softprops/action-gh-release@v1
      with:
        name: nightly
        tag_name: nightly
        prerelease: true
        files: release/*.*
