name: Code Review
on:
  pull_request_target:
      types: [opened, review_requested]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Nuki Code Review
      uses: NuclearPlayer/nuki-code-review-action@master
      with:
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        GITHUB_APP_PRIVATE_KEY: ${{ secrets.NUKI_APP_PRIVATE_KEY }}
