@import '../../../vars.scss';
.player_button_container {
  display: flex;

  width: 60px;
  height: 60px;

  text-align: center;

  font-size: 30px;

  flex: 0 0 auto;
  flex-flow: row;
  align-items: center;

  transition: $short-duration ease all;

  a {
    flex: 1 1 auto;
    color: rgba($white, 0.8);
    transition: $short-duration ease all;
  }

  
  &:hover:not(.player_button_disabled) {
    a {
      color: $white;
    }
  }

  &.player_button_disabled {
    a {
      cursor: default;
      color: rgba($white, 0.25);
    }
  }
}
