.downloads_header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 0 !important;

  .label,
  .directory {
    display: flex;
    align-items: center;
  }

  .directory {
    margin-left: 1rem;
    font-weight: bold;
  }
}
